/* Keylime GmbH
 *
 * Content: Keylime GmbH Responsive
 * Author: Torsten Trautmann
*******************************************************************************/

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	    #header .logo {
    	background-image:url('../img/logo-keylime-mobile.png');
    	background-repeat: no-repeat;
    	background-size: 170px 50px;
		margin-top: 52px;
    }
}
@media (min-width: 1700px) {
    /* Welcome Section
    *******************************************************************************/
    #welcome-section { height:1253px; }
    /* Work Section
    *******************************************************************************/
    #work-section { height: 3370px; }
}
/* 1200px */
@media (max-width: 1200px) {
	/* Construct
	*******************************************************************************/
	.container { margin:0 auto; }

	/* Welcome Section
	*******************************************************************************/
    #welcome-section { height:800px; }
    #welcome-section h1 {
	    margin-top: 250px;
	    text-align:center;
	    color:white;
	    font-size:50px
    }

	/* Rules Section
	*******************************************************************************/
    #rules-section {
	    height: 1000px;
    }
    #rules-section .header { margin-top: 150px; }
    #rules-section h3 { font-size: 20px; }

	/* We are Section
	*******************************************************************************/
    #weare-section {
    	height:1200px;
    }
    #myCarousel { margin-top: 200px; }

	/* Work Section
	*******************************************************************************/
    #work-section { height: 2332px; }
    #work-section .header {
	    margin-top:20px;
	    font-size:50px
    }
    #work-section .subheader {
	    margin-top:14px;
	    margin-bottom:21px;
	    letter-spacing:0
    }
    #work-section .inner { height: 260px; }
    #work-section .izaboa .inner { padding-top: 12px; }
    #work-section h3 { font-size: 14px; }
	#work-section .inner p {
		font-size: 14px;
		line-height: 18px;
	}

    /* Past Work Section
    *******************************************************************************/
    #pastwork-section {
        height: 700px;
        color: #000;
    }

	/* About Section
	*******************************************************************************/
    #about-section { height:1100px; }
    #about-section .header { margin-top: 80px; }
    #approach-section .subline { height: 45px; }

    /* Approach Section
	*******************************************************************************/
    #approach-section { height:900px; }
    #approach-section .header {
	    margin-top:91px;
	    margin-bottom:13px;
	    width:380px;
	    text-align:left;
	    font-size:50px
    }
    #approach-section .content {
	    color:#fff;
	    width: 780px;
	    margin-bottom:42px;
	    letter-spacing:0;
    }

    /* Nature
    *******************************************************************************/
    #nature .products h4 { font-size: 17px; }
    #nature .products dl { font-size: 14px; }
    #nature .products dt { width: 56px; }
    #nature .products dd { margin: 0 0 0 71px; }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #contentWrapper { top: 91px; }
    .paddingtop40 {
      padding-top: 14px;
    }
    /* Header
	*******************************************************************************/
	#header .menu ul li { margin-right: 25px; }
	#header .menu ul li a { font-size: 18px; }

	#header { height: 90px; }
	#header .container { position: relative; }
	#header .logo {
		margin-top: 30px;
		margin-bottom: 10px;
	}
	#header .mobileMenuButton {
	    display:block;
	    width:35px;
	    height:35px;
	    position:absolute;
	    right:0;
	    bottom: 0px;
	    cursor:pointer;
	    padding-left:5px;
	    padding-top:5px
    }
    #header .mobileMenuButton .bar {
	    display:block;
	    width:30px;
	    margin-top:5px;
	    height:3px;
	    background-color:#fff
    }
    #header .menu {
	    display:none
    }
    #header #underlineContainer {
	    display:none
    }

    /* Navigation
	*******************************************************************************/
	.mobileMenu ul {
	    display: block;
	    margin: 0 auto;
	    padding: 10px 0;
	    width: 724px;
	}
	.mobileMenu ul li {
	    list-style-type: none;
	}
	.mobileMenu ul li a {
	    color: #FFFFFF;
	    display: block;
	    font-size: 18px;
	    padding: 5px 0;
	    text-align: right;
	    text-decoration: none;
	}
    .mobileMenu {
	    background: url("../img/000000-0.8.png") repeat scroll 0 0 transparent;
	    display: none;
	    position: absolute;
	    top: 90px;
	    width: 100%;
	    z-index: 9999;
	}
    .navbar { margin-top: 37px; }
    .navbar .btn-navbar {
        background-color: #fff;
        background-image: none;
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        box-shadow: none;
        color: #FFFFFF;;
        padding: 7px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        position: absolute;
        right: 30px;
        top: 34px;
    }

    /* Welcome Section
	*******************************************************************************/
    #welcome-section h1 {
        font-size: 46px;
        line-height: 50px;
    }

    /* Work Section
	*******************************************************************************/
    #work-section { height: 1900px; }
    #work-section .header {
        font-size: 50px;
        margin-bottom: 20px;
    }
    #work-section h3 { font-size: 15px; }
    #work-section .inner { height: 330px; position: relative; }
    #work-section .izaboa .inner { height: auto; padding-top: 0;  }
    #work-section .izaboa .paddingtop25 { padding-top: 10px; }
    #work-section .inner p {
        font-size: 14px;
        line-height: 18px;
    }
    #work-section .more { font-size: 16px; line-height: 18px;  }
    #about-section .header {
        font-size: 52px;
        line-height: 52px;
        margin-bottom: 16px;
    }
    .natureSocial {
        float: right;
        margin-top: -10px;
    }

    /* Past Work Section
    *******************************************************************************/
    #pastwork-section {
        height: 650px;
        color: #000;
    }

    /* Approach Section
	*******************************************************************************/
    #approach-section h3 { font-size: 28px; }
    #approach-section .header {
        color: #FFFFFF;
        font-size: 50px;
        margin-bottom: 25px;
        margin-top: 130px;
    }
    #approach-section .span3 p {
        font-size: 16px;
        line-height: 22px;
    }
    #approach-section .subline { height: 45px; }

    /* Rules Section
	*******************************************************************************/
    #rules-section .header { font-size: 50px; margin-bottom: 25px; }
    #rules-section .content { margin-bottom: 80px; }
    #rules-section h3 { font-size: 16px; }

    /* Alle
	*******************************************************************************/
    #work-section .subheader,
    #about-section .content,
    #approach-section .content,
    #approach-section .span3 p,
    #rules-section .content {
        font-size: 16px;
        line-height: 22px;
    }

    #work-section .subheader,
    #approach-section .content,
    #approach-section .header,
    #rules-section .header,
    #rules-section .content { width: 100%; }

        /* Nature
    *******************************************************************************/
    #nature .products h4 { height: 44px; }
    #nature .products dl { font-size: 14px; }
    #nature .products dt { width: 56px; }
    #nature .products dd { margin: 0 0 0 71px; }

    /* Footer
	*******************************************************************************/
    #footer { visibility: visible; }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    /* Construct
	*******************************************************************************/
	body {
	    padding-left: 0px !important;
	    padding-right: 0px !important;
	}
	.container {
	    width:460px;
	    margin:0 auto
    }
    #contentWrapper { top:50px; }

    /* Navigation
	*******************************************************************************/
    .mobileMenu {
	    display:none;
	    position:absolute;
	    z-index:9999;
	    top:50px;
	    background:url('../img/000000-0.8.png');
	    width:100%
    }
    .mobileMenu ul {
	    display:block;
	    width:460px;
	    margin:0 auto;
	    padding:10px 0
    }
    .mobileMenu ul li { list-style-type: none; }
    .mobileMenu ul li a {
	    text-align:right;
	    display:block;
	    padding:5px 0;
	    color:#fff;
	    font-size:18px;
	    text-decoration:none;
    }
    .navbar .btn-navbar {
        position: absolute;
        right: 30px;
        top: 34px;
    }

    /* Header
	*******************************************************************************/
    #header {
	    height:50px;
	    background:url('../img/000000-0.8.png')
    }
    #header .container {
	    position:relative
    }
    #header .logo {
    	background-image:url('../img/logo-keylime-mobile.png');
    	background-repeat: no-repeat;
    	background-size: 170px 50px;
		margin-top: 0px;
    }
    #header .mobileMenuButton {
	    display:block;
	    width:35px;
	    height:35px;
	    position:absolute;
	    right:0;
	    bottom: -3px;
	    cursor:pointer;
	    padding-left:5px;
	    padding-top:5px
    }
    #header .mobileMenuButton .bar {
	    display:block;
	    width:30px;
	    margin-top:5px;
	    height:3px;
	    background-color:#fff
    }
    #header .menu {
	    display:none
    }
    #header #underlineContainer {
	    display:none
    }

    /* Welcome Section
	*******************************************************************************/
    #welcome-section {
	    height:400px
    }
    #welcome-section h1 {
	    margin-top:160px;
	    text-align:center;
	    color:white;
	    font-size:36px
    }
    #welcome-section #viewWorksButton {
	    margin-top:10px;
	    font-size:16px
    }

    /* Work Section
	*******************************************************************************/
    #work-section {
	    height: 3760px; /*2046px */
    }
    #work-section .header {
	    margin-top:30px;
	    font-size:36px
    }
    #work-section .subheader {
	    width:400px;
	    margin-top:10px;
	    margin-bottom:20px;
	    letter-spacing:0;
	    margin-left:auto
    }
    #work-section .span4 .headline,
    #work-section .izaboa .headline { height: auto; }
    #work-section .brands + .brands { margin-top: 0; }
    #work-section .brands .span4 {
        width: 270px;
        margin: 0 auto 10px auto;
    }
    #work-section .izaboa .span3,
    #work-section .izaboa .span4,
    #work-section .izaboa .span6,
    #work-section .izaboa .span12 {
        width: 270px;
        margin: 0 auto 10px auto;
    }
    #work-section .izaboa .span12.paddingtop30,
    #work-section .izaboa .span6.paddingtop40 { padding-top: 0; }
    #work-section .inner,
    #work-section .izaboa .inner { height: auto; }
    #work-section .bg-white { background: none; margin-top: 20px; }
    #work-section .izaboa .span6 { background: #fff; }
    #work-section .izaboa .paddingtop25 { padding-top: 0; }
    #work-section .more { font-size: 16px; line-height: 18px; position: relative; bottom: inherit;  }

    .natureSocial,
    .gasSocial,
    .bearSocial { display: none; }

    /* Past Work Section
    *******************************************************************************/
    #pastwork-section { height: 1975px; }
    #pastwork-section .header {
        margin-top:30px;
        font-size:36px
    }
    #pastwork-section .span3 { margin-bottom: 10px; text-align: center; }

    /* About Section
	*******************************************************************************/
    #about-section {
	    height:630px;
    }
    #about-section .header {
	    margin-top:40px;
	    margin-left:auto;
	    margin-right:auto;
	    width:460px;
	    font-size:36px
    }
    #about-section .content {
	    letter-spacing:0;
	    margin-left:auto;
	    margin-right:auto;
	    padding:20px 0;
	    width:460px
    }

    /* Approach Section
	*******************************************************************************/
    #approach-section {
	    height:1190px;
    }
    #approach-section .header {
	    margin-top:30px;
	    margin-bottom:20px;
	    font-size:36px;
	    width:460px
    }
    #approach-section .content {
	    color:#fff;
	    width:460px;
	    margin-bottom:20px
    }
    #approach-section .columnsBox {
	    width:460px
    }
    #approach-section .columnsBox .column {
	    width:460px;
	    margin-right:0;
	    margin-bottom:20px
    }
    #approach-section .columnsBox .column .smallRule {
	    height:1px;
	    width:460px
    }
    #approach-section .columnsBox .column.first {
	    margin-right:0
    }
    #approach-section .columnsBox .column h3 {
	    font-size:28px;
	    margin-top:19px;
	    margin-bottom:15px
    }
    #approach-section .columnsBox .column p {
	    font-size:12px;
	    padding-right:0
    }

    /* Rules Section
	*******************************************************************************/
    #rules-section .header { margin-top: 30px; }
    #rules-section { height: 880px; }

    /* We are Section
	*******************************************************************************/
    #weare-section { height: 400px; }
    #weare-section h3 {
        font-size: 17px;
        margin-bottom: 10px;
    }
    #myCarousel { padding: 20px 0; }
    .carousel-control {
        background-size: 27px auto;
        height: 30px; width: 30px;
    }
    #weare-section .carousel-inner p {
        font-size: 14px;
        line-height: 18px;
    }

    /* Alle Section
	*******************************************************************************/
    #rules-section .header,
    #approach-section .header,
    #about-section .header { margin-bottom: 20px; }

    #rules-section .content,
    #approach-section .content { margin-bottom: 40px; }

    #work-section .subheader,
    #approach-section .content,
    #approach-section .header,
    #rules-section .header,
    #rules-section .content { width: 100%; }

    #welcome-section h1,
    #work-section .header,
    #about-section .header,
    #approach-section .header,
    #rules-section .header {
        font-size: 36px;
        line-height: 42px;
    }

    /* Nature
    *******************************************************************************/
    #nature .products h4 { height: 44px; }
    #nature .products dl { font-size: 14px; }
    #nature .products dt { width: 56px; }
    #nature .products dd { margin: 0 0 0 71px; }
}

/* Smartphones (landscape) ----------- */
@media (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
    /* Construct
    *******************************************************************************/
    body { padding: 0; }
    .container { margin:0 auto; width: 300px; }
    #contentWrapper { top:50px; }
    #imprint #main { padding-top: 70px; }
    #nature #main { padding-top: 70px; }

    /* Navigation
    *******************************************************************************/
    .mobileMenu ul {
        width:300px;
    }
    .mobileMenu ul li { line-height: 10px; }
    .mobileMenu ul li a { font-size: 12px; }
    #header {
        height:50px;
        background:url('../img/000000-0.8.png');
    }

    /* Header
    *******************************************************************************/
    #header .mobileMenuButton {
        width:30px;
        height:30px;
        padding-left:10px;
        padding-top:10px;
        bottom: -7px;
    }
    #header .mobileMenuButton .bar {
        width:20px;
        margin-top:3px;
        height:2px;
    }
    #header .menu {
        display:none;
    }
    #header #underlineContainer {
        display:none;
    }

    /* Welcome Section
    *******************************************************************************/
    #welcome-section {
        height: 400px;
    }
    #welcome-section h1 {
        margin-top: 50px;
        text-align:center;
        color:white;
    }

    /* Work Section
    *******************************************************************************/
    #work-section { height: 1700px; } /*2600*/
    #work-section .header {
        margin-top:30px;
        font-size:36px;
    }
    #work-section .subheader {
        margin-top:10px;
        margin-bottom:20px;
        letter-spacing:0;
        margin-left:auto;
        width: 310px;
    }
    .defaultTheme { width: 180px; height: 80px; padding: 5px 0 5px 10px; }
    .defaultTheme hr { margin: 6px 0; }
    .defaultTheme #aToolTipCloseBtn {
        right: -5px;
        top: -2px;
    }

    /* About Section
    *******************************************************************************/
    #about-section {
        height:850px;
    }
    #about-section .header {
        margin-top:30px;
        margin-left:auto;
        margin-right:auto;
        font-size:36px;
    }
    #about-section .content {
        letter-spacing:0;
        margin-left:auto;
        margin-right:auto;
        padding:20px 0;
        width:300px;
    }

    /* Approach Section
    *******************************************************************************/
    #approach-section {
        height:1365px;
    }
    #approach-section .header {
        margin-top:60px;
        margin-bottom:20px;
        font-size:36px;
    }
    #approach-section .content {
        color:#fff;
        margin-bottom:20px
    }
    #approach-section .subline { height: inherit; }

    /* Rules Section
    *******************************************************************************/
    #rules-section {
        height:770px;
    }
    #rules-section .header { margin-top: 50px; }

    /* We are Section
    *******************************************************************************/
    #weare-section {
        height:400px;
    }
    #myCarousel { margin-top: 100px; }

    /* Connect Section
    *******************************************************************************/
    .contactMapPopup.collapsed .topArea { width: 260px; }
    .phone-hidden { display: none; }
    .phone-display {
        display: block;
    }

    /* Nature
    *******************************************************************************/
    #nature #main hr { display: none; }
    #nature .products h4 { height: auto; }
    #nature #main .span3 { text-align: center; }
    #nature #main .product-inner { display: inline-block; }
    #nature .products dd { text-align: left; }

    /* Footer
    *******************************************************************************/
    #footer { visibility: hidden; height: 0; }
}

/* Smartphones (portrait) ----------- */
@media (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	/* Construct
    *******************************************************************************/
    body { padding: 0; }
	.container { margin:0 auto; width: 300px; }
    #contentWrapper { top:50px; }
    #imprint #main { padding-top: 70px; }
    #nature #main { padding-top: 70px; }

	/* Navigation
    *******************************************************************************/
    .mobileMenu ul {
	    width:300px
    }
    #header {
	    height:50px;
	    background:url('../img/000000-0.8.png')
    }

	/* Header
    *******************************************************************************/
    #header .mobileMenuButton {
	    width:30px;
	    height:30px;
	    padding-left:10px;
	    padding-top:10px;
        bottom: -7px;
        top: inherit;
    }
    #header .mobileMenuButton .bar {
	    width:20px;
	    margin-top:3px;
	    height:2px
    }
    #header .menu {
	    display:none
    }
    #header #underlineContainer {
	    display:none
    }

	/* Welcome Section
    *******************************************************************************/
    #welcome-section {
	    height: 604px;
    }
    #welcome-section h1 {
	    margin-top: 50px;
	    text-align:center;
	    color:white
    }

	/* Work Section
    *******************************************************************************/
    #work-section { height: 7130px; } /*1750*/
    #work-section .header {
	    margin-top:30px;
	    font-size:36px
    }
    #work-section .subheader {
	    margin-top:10px;
	    margin-bottom:20px;
	    letter-spacing:0;
	    margin-left:auto;
        width: 280px;
    }

	/* About Section
    *******************************************************************************/
    #about-section {
	    height:850px
    }
    #about-section .header {
	    margin-top:30px;
	    margin-left:auto;
	    margin-right:auto;
	    font-size:36px
    }
    #about-section .content {
	    letter-spacing:0;
	    margin-left:auto;
	    margin-right:auto;
	    padding:20px 0;
	    width:300px
    }

    /* Approach Section
    *******************************************************************************/
    #approach-section {
	    height:1365px
    }
    #approach-section .header {
	    margin-top:60px;
	    margin-bottom:20px;
	    font-size:36px;
    }
    #approach-section .content {
	    color:#fff;
	    margin-bottom:20px
    }
    #approach-section .subline { height: inherit; }

    /* Rules Section
    *******************************************************************************/
    #rules-section {
	    height:770px;
    }
	#rules-section .header { margin-top: 50px; }

    /* We are Section
    *******************************************************************************/
    #weare-section {
    	height:400px;
    }
	#myCarousel { margin-top: 120px; }

    /* Connect Section
    *******************************************************************************/
	.contactMapPopup.collapsed .topArea { width: 260px; }
    .phone-hidden { display: none; }
    .phone-display { display: block; }

    /* Nature
    *******************************************************************************/
    #nature #main hr { display: none; }
    #nature .products h4 { height: auto; }
    #nature #main .span3 { text-align: center; }
    #nature #main .product-inner { display: inline-block; }
    #nature .products dd { text-align: left; }

	/* Footer
    *******************************************************************************/
    #footer { visibility: hidden; height: 0; }
	#footer .span7 { margin-top: 10px; }
}