/* Keylime GmbH
 *
 * Content: Keylime GmbH Styles
 * Author: IDBakery GmbH - Torsten Trautmann
*******************************************************************************/

/* Construct
*******************************************************************************/
body {
	overflow:hidden;
	font-smooth:always;
	-webkit-font-smoothing:antialiased!important;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	background-color:#f2f2f2;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
body#nature {background-color:#fff;}
body#imprint,
body#nature {
	-webkit-backface-visibility: visible;
	-moz-backface-visibility:visible;
	-ms-backface-visibility:visible;
	color: #000;
	overflow: visible;
}
#imprint #main,
#nature #main { padding-top: 140px; padding-bottom: 40px; }
#imprint hr { border-color: #000; }
#imprint #footer,
#nature #footer { color: #fff; }
.preloaderCanvas {
	position:absolute;
	top:0;
	left:0;
	z-index:9999
}
#curtain {
	position:absolute;
	z-index:999;
	width:100%;
	height:100%;
	background-color:#000
}
#workSlidesHolder {
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 3;
}
.container {
	/*width:1000px;  use bootstrap value */
	margin:0 auto
}
img { max-width: none; }
.container img { max-width: 100%; }

a,
a:visited,
a:hover,
a:focus { outline: inherit; }
a[href^=tel]:link { color:#000; }

p { font-weight: 300; }

.margintop30 { margin-top: 30px!important; }
.paddingtop14 { padding-top: 14px; }
.paddingtop25 { padding-top: 25px; }
.paddingtop30 { padding-top: 30px; }
.paddingtop40 { padding-top: 40px; }
.paddingbottom25 { padding-bottom: 25px; }
.relative { position: relative; }
.nostyle {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nostyle li {
	float: left;
	margin-right: 5px;
}

/* Scrollbar
*******************************************************************************/
#scroller {
	position:absolute;
	right:-10px;
	top:0;
	background-color:rgba(0,0,0,0.4);
	width:10px;
	z-index:999;
	display:none
}

#scroller #scrollThumb {
	position:absolute;
	width:10px;
	height:115px;
	background-color:#fff
}

/* ToolTip - View more
*******************************************************************************/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}
#aToolTip .aToolTipContent {
	position:relative;
	margin:0;
	padding:0;
	}

.defaultTheme {
	border:1px solid #444;
	background:url(../img/transparent-black.png) repeat;
	color:#fff;
	margin:0;
	padding:22px 25px 10px 25px;
	height: 120px;

	-moz-box-shadow: 2px 2px 5px #111; /* for Firefox 3.5+ */
	-webkit-box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
	box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
}

.defaultTheme #aToolTipCloseBtn {
	display:block;
	height:18px;
	width:18px;
	background:url(../img/icons/closeBtn.jpg) no-repeat;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	top:-20px;
	right:-30px;
	margin:2px;
	padding:4px;
}

/* Header
*******************************************************************************/
.mobileMenu { display:none; }
#header {
	display:block;
	position:absolute;
	width:100%;
	height:115px;
	color:#fff;
	z-index:10;
	top:-120px;
	background:url('../img/000000-0.8.png')
}
#imprint #header,
#nature #header {
	position: fixed;
	top: 0;
}

#header .logo {
	width:224px;
	height:50px;
	float:left;
	margin-top: 46px;
	background-image:url('../img/logo-keylime.png');
}

#header .menu {
	height:31px;
	float:right;
	margin-top:79px
}

#header .menu ul {
	display:block;
	margin:0;
	padding:0
}

#header .menu ul li {
	display:block;
	float:left;
	margin-right: 32px
}
    @media (min-width: 1200px) {
        #header .menu ul li { margin-right: 45px; }
    }

#header .menu ul li.last {
	margin-right:1px
}

#header .menu ul li a {
	color:white;
	text-decoration:none;
	font-size:18px;
	font-weight: 700;
}

#header .mobileMenuButton {
	display:none
}

#header #underlineContainer {
	height:4px;
	position:relative
}

#header #menuUnderline {
	left:535px;
	height:0;
	bottom:0;
	width:0;
	background-color:#fff;
	position:absolute
}

#header #menuHoverUnderline {
	bottom:0;
	height:0;
	width:134px;
	background-color:#fff;
	position:absolute
}

#header #headerRule {
	height:1px;
	width:100%;
	background-color:#fff;
	display:block
}

/* Background Wrapper
*******************************************************************************/
#backgroundWrapper {
	display:block;
	height:100%;
	width:100%;
	position:relative;
	overflow:hidden;
	z-index:2
}

#backgroundWrapper .scrollingArea {
	position:absolute;
	width:100%
}

#backgroundWrapper .scrollingArea .background {
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100%
}

#backgroundWrapper .scrollingArea .background.work {
	background:transparent
}
#backgroundWrapper .scrollingArea .background.pastwork  { background: transparent; }

/* Content Wrapper
*******************************************************************************/
#contentWrapper {
	position:absolute;
	display:block;
	overflow:hidden;
	top:115px;
	width:100%;
	height:100%;
	z-index:4
}

#contentWrapper .scrollingArea {
	position:absolute;
	width:100%
}

#contentWrapper .scrollingArea .section {
	position:relative;
	overflow:hidden
}

/* Welcome Section
*******************************************************************************/
#welcome-section {
	height:900px
}

#welcome-section h1 {
	margin-top:340px;
	text-align:center;
	color:white;
	font-size:72px
}

#welcome-section h1 {
    color: white;
    font-size: 58px;
    line-height: 60px;
    margin-top: 340px;
    text-align: center;
}
#welcome-section #viewWorksButton {
    background-image: url("../img/icons/arrow-bottom.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: 700;
    height: 80px;
    line-height: 18px;
    margin: 30px auto 0;
    text-align: center;
    text-decoration: none;
    width: 86px;
}

/* Work Section
*******************************************************************************/
#work-section {
	height: 3000px;
	color: #000;
}
#work-section .header {
	color:#000;
	margin:0 auto;
	margin: 140px auto 0;
	text-align:center;
	font-size:70px;
	line-height:1em
}
#work-section .subheader {
	color:#000;
	font-size:18px;
	width:800px;
	line-height:24px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:30px;
	text-align:center;
}
#work-section .brands { margin-top: 50px; }
#work-section .span4 .headline { height: 65px; }
#work-section .izaboa .headline { height: 70px; }
#work-section h3 {
    margin-top: 0;
    padding-top: 5px;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 20px;
}
#work-section .inner {
    background: #fff;
    padding: 5px 15px 15px 15px;
    height: 320px;
    position: relative;
}
#work-section .izaboa .inner { padding: 27px 15px 15px 15px; height: 259px;  }
#work-section .inner p { margin-bottom: 20px; }
#work-section .more {
    font-weight: 700;
    color: #000;
    position: absolute;
    bottom: 10px;
}
#work-section .izaboa .more {
    position: relative;
    bottom: inherit;
    margin-top: 0px;
    display: inline-block;
}
#work-section .span3 { opacity: 0; }

.bg-white {
	background: #fff;
}
.natureSocial {
    margin-top: 35px;
}
.bearSocial {
    display: block;
    margin: 0 auto;
    width: 69px;
}
.gasSocial {
    /*float: right;
    margin-top: -6px;
    margin-right: -2px;*/
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.gasSocial li:last-child,
.bearSocial li:last-child { margin-right: 0; }
.bxslider {
	margin: 0;
	padding: 0;
}

/* Past Work Section
*******************************************************************************/
#pastwork-section {
    height: 900px;
    color: #000;
}
#pastwork-section .header {
    color:#000;
    margin:0 auto;
    margin: 140px auto 0;
    text-align:center;
    font-size:70px;
    line-height:1em
}
#pastwork-section .subheader {
    color:#000;
    font-size:18px;
    width:800px;
    line-height:24px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:30px;
    text-align:center;
}
#pastwork-section .brands.first { margin-top: 50px; margin-bottom: 20px; }
#pastwork-section .brands { margin-bottom: 30px; }
#pastwork-section .brands.last { margin-bottom: 0px; }

/* About Section
*******************************************************************************/
#about-section { height:800px; }
#about-section .header {
    color: #FFFFFF;
    font-size: 69px;
    line-height: 70px;
    margin-top: 150px;
    margin-bottom: 30px;
    text-align: left;
}
#about-section .content {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
}

/* Approach Section
*******************************************************************************/
#approach-section {	height:800px; }
#approach-section .header {
	color:#fff;
	margin-top: 200px;
	margin-bottom:20px;
	width:500px;
	text-align:left;
	font-size:70px
}
#approach-section .content {
	color:#fff;
	font-size:18px;
	width:780px;
	line-height:24px;
	opacity:1;
	margin-bottom:60px
}
#approach-section h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
#approach-section .span3 { border-top: solid 1px #fff; }
#approach-section .span3 { opacity: 0; }

/* Rules Section
*******************************************************************************/
#rules-section { height:1200px; }
#rules-section .header {
    color: #FFFFFF;
    font-size: 70px;
    margin-bottom: 40px;
    margin-top: 350px;
    text-align: left;
    width: 500px;
}
#rules-section .content {
    color: #FFFFFF;
    font-size: 23px;
    line-height: 24px;
    margin-bottom: 110px;
    opacity: 1;
    width: 780px;
    font-weight: 700;
}
#rules-section .span4 {
    border-top: solid 1px #fff;
    margin-bottom: 40px;
}
#rules-section h3 {
    font-size: 23px;
    line-height: 34px;
}
#rules-section .span4 {
    opacity: 0;
}

/* We are Section
*******************************************************************************/
#weare-section { height:1200px; }
#weare-section h3 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#weare-section h3 span {
    font-weight: 300;
    margin-right: 15px;
    padding-right: 15px;
    border-right: solid 1px #fff;
}
#myCarousel {
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    padding: 60px 0 53px 0;
}
.carousel-control {
    width: 55px;
    height: 55px;
    text-indent: -9999px;
    left: 0;
}
.carousel-control.right {
    background-image: url("../img/icons/arrow-right.png");
    background-repeat: no-repeat;
    right: 0;
}
.carousel-control.left {
    background-image: url("../img/icons/arrow-left.png");
    background-repeat: no-repeat;
}
.carousel-inner > .item { text-align: center; }

/* Connect Section (Google Map)
*******************************************************************************/
#googleMap {
	width:100%;
	height:100%;
	overflow: hidden;
	position: relative;
}
.contactMapPopup {
	position:absolute;
	width:460px;
	height:385px
}
.phone-display { display: none; }
.contactMapPopup .topArea {
	padding:20px;
	width: 390px;
	height: 149px;
	background:url('../img/transparent-map.png') repeat;
	overflow:hidden
}
.contactMapPopup .topArea h2 {
	font-size:36px;
	margin:0 0 15px 0;
	float:left
}
.contactMapPopup .topArea .intro {
	font-size:18px;
	line-height:22px;
	color:#fff;
	margin:0
}
.contactMapPopup .topArea .address,
.contactMapPopup .topArea .phone-hidden {
	font-size:14px;
	color:#bcbcbc;
	line-height:18px;
	margin:0;
	margin-top:12px;
	margin-bottom:5px;
	font-weight: normal;
}
.contactMapPopup .topArea .linkedinSmall {
	width:12px;
	height:12px;
	display:block;
	float:left;
	margin-right:3px;
	margin-top:2px
}
.contactMapPopup .topArea .linkedinSmallTitle {
	display:block;
	float:left;
	width:80px
}
.contactMapPopup .topArea .directorsEmail {
	clear:both;
	display:block;
	float:none;
	width:100px
}
.contactMapPopup .topArea .directorsPhone {
	display:block;
	clear:both;
	width:100px
}
.contactMapPopup .topArea .contact {
	width:210px;
	color:#fff;
	line-height:20px;
	font-size:14px;
	float:left;
	margin:0
}
.contactMapPopup .topArea .contact .name {
	font-size:18px;
	color:#fff;
	margin:0
}
.contactMapPopup .topArea .contact a {
	color:#fff;
	text-decoration:underline;
	font-size: 14px;
}
.contactMapPopup .topArea .socialLinks {
	float:right;
	display:block;
	margin:0;
	padding:0;
	margin-left:15px;
	margin-top:5px
}
.contactMapPopup .topArea .socialLinks li {
	display:block;
	float:left;
	width:25px;
	height:25px;
	margin-left:7px
}
.contactMapPopup .topArea .socialLinks li.collapseExpand {
	margin-left: 15px
}
.contactMapPopup .topArea .socialLinks li a {
	display:block;
	width:25px;
	height:25px;
	background-repeat:no-repeat;
}
.contactMapPopup .topArea .socialLinks li a.facebook {
	background-image:url('../img/social-facebook.png')
}
.contactMapPopup .topArea .socialLinks li a.twitter {
	background-image:url('../img/social-twitter.png')
}
.contactMapPopup .topArea .socialLinks li a.linkedIn {
	background-image:url('../img/icons/linkedin.png')
}
.contactMapPopup .topArea .socialLinks li a.skype {
	background-image:url('../img/social-skype.png')
}
.contactMapPopup .topArea .socialLinks li a#mapCollapse {
	background-image:url('../img/map-collapse.png')
}
.contactMapPopup .topArea .socialLinks li a#mapExpand {
	background-image:url('../img/map-expand.png');
	display:none
}
.contactMapPopup .topArea .socialLinks li a:hover {
	background-position:0 0
}
.contactMapPopup .bottomArea {
	width:420px;
	padding:0 20px;
	height:70px;
	background-color:#fff;
	overflow:hidden
}
.contactMapPopup .bottomArea .contact {
	width:210px;
	color:#000;
	line-height:20px;
	font-size:13px;
	float:left;
	margin:0
}
.contactMapPopup .bottomArea .contact a {
	color:#565656;
	text-decoration:underline
}
.contactMapPopup .arrow {
	margin:0 auto;
	width: 22px;
	height: 16px;
	background:url('../img/map-arrow.png')
}
.contactMapPopup.collapsed {
	width:321px;
	height:130px
}
.contactMapPopup.collapsed .topArea {
	padding:15px;
	width:330px;
	height:120px;
	background-position:0 -60px
}
.contactMapPopup.collapsed .topArea .intro {
	display:none
}
.contactMapPopup.collapsed .topArea h2 {
	font-size: 28px;
	line-height:30px;
	margin-bottom: 12px;
	margin-top:4px
}
.contactMapPopup.collapsed .topArea .address,
.contactMapPopup.collapsed .topArea .phone-hidden {
	margin-top:7px;
	font-size:13px
}
.contactMapPopup .topArea .address .emailUs {
	display:inline-block;
}
.contactMapPopup.collapsed .topArea .directorsEmail {
	clear:none;
	float:left
}
.contactMapPopup.collapsed .topArea .contact {
	display:none
}
.contactMapPopup.collapsed .topArea .socialLinks li #mapCollapse {
	display:none
}
.contactMapPopup.collapsed .topArea .socialLinks li #mapExpand {
	display:block
}
.contactMapPopup.collapsed .bottomArea {
	display:none
}
.contactMapPopup.collapsed .arrow {
	display:none
}
.contactMapPopup.mobile .topArea .socialLinks li.collapseExpand {
	display:none
}

/* Nature
*******************************************************************************/
.header-nature { margin-bottom: 30px; }
.product-inner { padding-top: 25px; }
#nature .products h4 {
	color: #3d4347;
}
#nature .products dl { color: #898989; }
#nature .products dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    font-weight: normal;
    color: #898989;
}
#nature .products dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

/* Fancybox
*******************************************************************************/
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../img/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../img/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../img/fancybox/blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../img/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5){

    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        background-image: url('../img/fancybox/fancybox_sprite@2x.png');
        background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
    }

    #fancybox-loading div {
        background-image: url('../img/fancybox/fancybox_loading@2x.gif');
        background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
    }
}

/* Footer
*******************************************************************************/
#footer {
    background: #000000;
    height: 115px;
    width: 100%;
    padding-top: 40px;
    font-weight: 300;
    font-size: 16px;
}
#footer ul { margin: 0; }
#footer ul li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid 1px #fff;
    list-style-type: none;
}
#footer ul li.last {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}
#footer ul li a {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}
#footer .span7 { text-align: right; }
#footer .copyrightContainer {
	float:right;
	padding-top:13px
}
#footer .copyrightContainer p {
	font-size:13px;
	color:#999;
	margin:11px 0 5px 0
}