body {
	overflow:hidden;
	font-smooth:always;
	-webkit-font-smoothing:antialiased!important;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	background-color:#f2f2f2;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
body#imprint {
	-webkit-backface-visibility: visible;
	-moz-backface-visibility:visible;
	-ms-backface-visibility:visible;
	color: #000;
	overflow: visible;
}
#imprint #main { padding-top: 140px; padding-bottom: 40px; }
#imprint hr { border-color: #000; }
#imprint #footer { color: #fff; }

a,
a:visited,
a:hover,
a:focus { outline: inherit; }
a[href^=tel]:link { color:#000; }

p { font-weight: 300; }



/*
Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}

#aToolTip .aToolTipContent {
	position:relative;
	margin:0;
	padding:0;
	}
/*
END: Required Styles
*/
/**
Default Theme
*/
.defaultTheme {
	border:1px solid #444;
	background:url(../img/transparent-black.png) repeat;
	color:#fff;
	margin:0;
	padding:22px 25px 10px 25px;	
	height: 120px;

	-moz-box-shadow: 2px 2px 5px #111; /* for Firefox 3.5+ */
	-webkit-box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
	box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
}

.defaultTheme #aToolTipCloseBtn {
	display:block;
	height:18px;
	width:18px;
	background:url(../img/icons/closeBtn.jpg) no-repeat;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	top:-20px;
	right:-30px;
	margin:2px;
	padding:4px;
}





.preloaderCanvas {
	position:absolute;
	top:0;
	left:0;
	z-index:9999
}

#curtain {
	position:absolute;
	z-index:999;
	width:100%;
	height:100%;
	background-color:#000
}

.container {
	/*width:1000px;  use bootstrap value */
	margin:0 auto
}

.mobileMenu {
	display:none
}

#header {
	display:block;
	position:absolute;
	width:100%;
	height:115px;
	color:#fff;
	z-index:10;
	top:-120px;
	background:url('../img/000000-0.8.png')
}
#imprint #header {
	position: fixed;
	top: 0;
}

#header .logo {
	width:224px;
	height:50px;
	float:left;
	margin-top: 46px;
	background-image:url('../img/logo-keylime.png');
}

#header .menu {
	height:31px;
	float:right;
	margin-top:79px
}

#header .menu ul {
	display:block;
	margin:0;
	padding:0
}

#header .menu ul li {
	display:block;
	float:left;
	margin-right:46px
}

#header .menu ul li.last {
	margin-right:1px
}

#header .menu ul li a {
	color:white;
	text-decoration:none;
	font-size:18px;
	font-weight: 700;
}

#header .mobileMenuButton {
	display:none
}

#header #underlineContainer {
	height:4px;
	position:relative
}

#header #menuUnderline {
	left:535px;
	height:0;
	bottom:0;
	width:0;
	background-color:#fff;
	position:absolute
}

#header #menuHoverUnderline {
	bottom:0;
	height:0;
	width:134px;
	background-color:#fff;
	position:absolute
}

#header #headerRule {
	height:1px;
	width:100%;
	background-color:#fff;
	display:block
}

#scroller {
	position:absolute;
	right:-10px;
	top:0;
	background-color:rgba(0,0,0,0.4);
	width:10px;
	z-index:999;
	display:none
}

#scroller #scrollThumb {
	position:absolute;
	width:10px;
	height:115px;
	background-color:#fff
}

#backgroundWrapper {
	display:block;
	height:100%;
	width:100%;
	position:relative;
	overflow:hidden;
	z-index:2
}

#backgroundWrapper .scrollingArea {
	position:absolute;
	width:100%
}

#backgroundWrapper .scrollingArea .background {
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100%
}

#backgroundWrapper .scrollingArea .background.work {
	background:transparent
}

#contentWrapper {
	position:absolute;
	display:block;
	overflow:hidden;
	top:115px;
	width:100%;
	height:100%;
	z-index:4
}

#contentWrapper .scrollingArea {
	position:absolute;
	width:100%
}

#contentWrapper .scrollingArea .section {
	position:relative;
	overflow:hidden
}

#welcome-section {
	height:900px
}

#welcome-section h1 {
	margin-top:340px;
	text-align:center;
	color:white;
	font-size:72px
}

#work-section {
	height:900px
}

#work-section .header {
	color:#000;
	margin:0 auto;
	margin-top:70px;
	text-align:center;
	font-size:72px;
	line-height:1em
}

#work-section .subheader {
	color:#000;
	font-size:18px;
	width:800px;
	line-height:24px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:30px;
	text-align:center
}

#work-section .workCards {
	width:1000px;
	position:relative
}

#work-section .workCards .workCard {
	width:324px;
	margin-right:14px;
	float:left;
	position:relative;
	opacity:0;
	display:block;
	text-decoration:none;
	background-color:#fbfbfb;
	cursor:pointer;
	height:430px
}

#work-section .workCards .workCard.last {
	margin-right:0
}

#work-section .workCards .workCard h3 {
	font-size:24px;
	color:#333;
	padding:0 20px;
	margin:10px 0 0 0
}

#work-section .workCards .workCard .typeLabel {
	width:120px;
	height:14px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border:1px solid #ccc;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:0;
	color:#999;
	text-align:center;
	padding-top:5px;
	margin-top:5px;
	margin-left:15px;
	-webkit-transition:border 500ms ease-out;
	-moz-transition:border 500ms ease-out;
	-o-transition:border 500ms ease-out
}

#work-section .workCards .workCard img {
	width:100%
}

#work-section .workCards .workCard p {
	font-size:16px;
	color:#888;
	padding:0 56px 0 20px;
	line-height:24px;
	margin-top:10px
}

#work-section .workCards .workCard .viewButton {
	position:absolute;
	bottom:20px;
	left:20px;
	color:#333;
	border-bottom:4px solid #e1e1e1;
	line-height:1em;
	-webkit-transition:border 500ms ease-out;
	-moz-transition:border 500ms ease-out;
	-o-transition:border 500ms ease-out
}

#work-section .workCards .workCard .loadingBar {
	position:absolute;
	bottom:20px;
	left:20px;
	width:0;
	height:4px;
	background-color:#000
}

#work-section .workCards .workCard:hover,#work-section .workCards .workCard.active {
	background-color:#fff
}

#work-section .workCards .workCard:hover .viewButton,#work-section .workCards .workCard.active .viewButton {
	border-bottom:4px solid #000
}

.touchDevice #work-section .workCards .workCard {
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none
}

.touchDevice #work-section .workCards .workCard .typeLabel {
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none
}

.touchDevice #work-section .workCards .workCard .viewButton {
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none
}

.touchDevice #work-section .workCards .workCard:hover {
	background-color:#fbfbfb
}

#about-section {
	height:800px
}

#services-section {
	height:1200px
}

#services-section h2 {
	font-size:72px;
	margin-top:130px;
	margin-bottom:0;
	line-height:1em
}

#services-section .content {
	color:#fff;
	font-size:18px;
	width:780px;
	line-height:24px;
	opacity:1;
	margin-bottom:60px
}

#services-section .rule {
	height:1px;
	width:100%;
	background-color:#fff;
	display:block
}

#services-section .columnsBox {
	width:1000px
}

#services-section .columnsBox .column {
	width:200px;
	margin-right:65px;
	float:left;
	position:relative;
	opacity:0
}

#services-section .columnsBox .column .smallRule {
	height:1px;
	width:200px;
	background-color:#fff;
	display:block
}

#services-section .columnsBox .column.first {
	margin-right:70px
}

#services-section .columnsBox .column.last {
	margin-right:0
}

#services-section .columnsBox .column h3 {
	font-size:34px;
	margin-top:25px;
	margin-bottom:20px
}

#services-section .columnsBox .column ul {
	padding-left:10px
}

#services-section .columnsBox .column ul li {
	color:#cacaca;
	font-size:16px;
	text-indent:-5px
}

#services-section .columnsBox .column ul li:before {
	content:"-";
	position:relative;
	left:-5px
}

#services-section .columnsBox .column p {
	font-size:16px;
	color:#cacaca
}

#approach-section {
	height:800px
}

#approach-section .header {
	color:#fff;
	margin-top:130px;
	margin-bottom:20px;
	width:500px;
	text-align:left;
	font-size:72px
}

#approach-section .content {
	color:#fff;
	font-size:18px;
	width:780px;
	line-height:24px;
	opacity:1;
	margin-bottom:60px
}

#approach-section .columnsBox {
	width:1000px
}

#approach-section .columnsBox .column {
	width:200px;
	margin-right:65px;
	float:left;
	position:relative;
	opacity:0
}

#approach-section .columnsBox .column .smallRule {
	height:1px;
	width:200px;
	background-color:#fff;
	display:block
}

#approach-section .columnsBox .column.first {
	margin-right:70px
}

#approach-section .columnsBox .column.last {
	margin-right:0
}

#approach-section .columnsBox .column h3 {
	font-size:34px;
	margin-top:25px;
	margin-bottom:20px
}

#approach-section .columnsBox .column p {
	font-size:16px;
	color:#cacaca
}

#googleMap {
	width:100%;
	height:100%;
	overflow: hidden;
	position: relative;
}

.contactMapPopup {
	position:absolute;
	width:460px;
	height:385px
}

.contactMapPopup .topArea {
	padding:20px;
	width: 390px;
	height: 149px;
	background:url('../img/transparent-map.png') repeat;
	overflow:hidden
}

.contactMapPopup .topArea h2 {
	font-size:36px;
	margin:0 0 15px 0;
	float:left
}

.contactMapPopup .topArea .intro {
	font-size:18px;
	line-height:22px;
	color:#fff;
	margin:0
}

.contactMapPopup .topArea .address {
	font-size:14px;
	color:#bcbcbc;
	line-height:18px;
	margin:0;
	margin-top:12px;
	margin-bottom:5px
}

/*.contactMapPopup .topArea .address .emailUs {
	display:none
}*/

.contactMapPopup .topArea .linkedinSmall {
	width:12px;
	height:12px;
	display:block;
	float:left;
	margin-right:3px;
	margin-top:2px
}

.contactMapPopup .topArea .linkedinSmallTitle {
	display:block;
	float:left;
	width:80px
}

.contactMapPopup .topArea .directorsEmail {
	clear:both;
	display:block;
	float:none;
	width:100px
}

.contactMapPopup .topArea .directorsPhone {
	display:block;
	clear:both;
	width:100px
}

.contactMapPopup .topArea .contact {
	width:210px;
	color:#fff;
	line-height:20px;
	font-size:14px;
	float:left;
	margin:0
}

.contactMapPopup .topArea .contact .name {
	font-size:18px;
	color:#fff;
	margin:0
}

.contactMapPopup .topArea .contact a {
	color:#fff;
	text-decoration:underline;
	font-size: 14px;
}

.contactMapPopup .topArea .socialLinks {
	float:right;
	display:block;
	margin:0;
	padding:0;
	margin-left:15px;
	margin-top:5px
}

.contactMapPopup .topArea .socialLinks li {
	display:block;
	float:left;
	width:25px;
	height:25px;
	margin-left:7px
}

.contactMapPopup .topArea .socialLinks li.collapseExpand {
	margin-left: 15px
}

.contactMapPopup .topArea .socialLinks li a {
	display:block;
	width:25px;
	height:25px;
	background-repeat:no-repeat;
}

.contactMapPopup .topArea .socialLinks li a.facebook {
	background-image:url('../img/social-facebook.png')
}

.contactMapPopup .topArea .socialLinks li a.twitter {
	background-image:url('../img/social-twitter.png')
}

.contactMapPopup .topArea .socialLinks li a.linkedIn {
	background-image:url('../img/icons/linkedin.png')
}

.contactMapPopup .topArea .socialLinks li a.skype {
	background-image:url('../img/social-skype.png')
}

.contactMapPopup .topArea .socialLinks li a#mapCollapse {
	background-image:url('../img/map-collapse.png')
}

.contactMapPopup .topArea .socialLinks li a#mapExpand {
	background-image:url('../img/map-expand.png');
	display:none
}

.contactMapPopup .topArea .socialLinks li a:hover {
	background-position:0 0
}

.contactMapPopup .bottomArea {
	width:420px;
	padding:0 20px;
	height:70px;
	background-color:#fff;
	overflow:hidden
}

.contactMapPopup .bottomArea .contact {
	width:210px;
	color:#000;
	line-height:20px;
	font-size:13px;
	float:left;
	margin:0
}

.contactMapPopup .bottomArea .contact a {
	color:#565656;
	text-decoration:underline
}

.contactMapPopup .arrow {
	margin:0 auto;
	width: 22px;
	height: 16px;
	background:url('../img/map-arrow.png')
}

.contactMapPopup.collapsed {
	width:321px;
	height:130px
}

.contactMapPopup.collapsed .topArea {
	padding:15px;
	width:330px;
	height:120px;
	background-position:0 -60px
}

.contactMapPopup.collapsed .topArea .intro {
	display:none
}

.contactMapPopup.collapsed .topArea h2 {
	font-size: 28px;
	line-height:30px;
	margin-bottom: 12px;
	margin-top:4px
}

.contactMapPopup.collapsed .topArea .address {
	margin-top:7px;
	font-size:13px
}

.contactMapPopup.collapsed .topArea .address .emailUs {
	display:inline
}

.contactMapPopup.collapsed .topArea .directorsEmail {
	clear:none;
	float:left
}

.contactMapPopup.collapsed .topArea .contact {
	display:none
}

.contactMapPopup.collapsed .topArea .socialLinks li #mapCollapse {
	display:none
}

.contactMapPopup.collapsed .topArea .socialLinks li #mapExpand {
	display:block
}

.contactMapPopup.collapsed .bottomArea {
	display:none
}

.contactMapPopup.collapsed .arrow {
	display:none
}

.contactMapPopup.mobile .topArea .socialLinks li.collapseExpand {
	display:none
}

#footer {
	width:100%;
	height:115px;
	background-color:#000
}

#footer .copyrightContainer {
	float:right;
	padding-top:13px
}

#footer .copyrightContainer p {
	font-size:13px;
	color:#999;
	margin:11px 0 5px 0
}

#footer .copyrightContainer ul {
	margin:0;
	padding:0
}

#footer .copyrightContainer ul li {
	list-style:none;
	float:left;
	margin:0;
	margin-right:15px;
	display:block
}

#footer .copyrightContainer ul li a {
	color:#fff;
	text-decoration:none
}

#footer .twitterFeedContainer {
	float:left;
	width:387px;
	color:#999;
	padding-top:20px;
	max-height:61px;
	overflow:hidden
}

#footer .twitterFeedContainer .date {
	font-size:13px;
	text-transform:uppercase;
	color:#565656;
	display:inline-block;
	margin-right:5px
}

#footer .twitterFeedContainer .tweet_text {
	display:inline;
	line-height:16px;
	font-size:13px
}

#footer .twitterFeedContainer .tweet_text a {
	color:#999
}

#footer .twitterFeedContainer .followUs {
	margin-top:0;
	margin-left:0;
	margin-bottom:5px;
	display:inline-block;
	color:#565656;
	font-size:13px;
	text-decoration:underline;
	padding-left:24px;
	padding-top:2px;
	background:url('../img/twitter-footer-link-logo.png') no-repeat
}

#workSlidesHolder {
	position:absolute;
	z-index:3;
	overflow:hidden;
	display:none
}

#workSlidesBack {
	position:absolute;
	top:-100px;
	margin-top:-41px;
	left:50%;
	margin-left:-41px;
	width:82px;
	height:82px;
	background-color:#000;
	background-color:rgba(0,0,0,0.7);
	background-image:url('../img/work-slides-back.png');
	z-index:7;
	cursor:pointer;
	border-radius:50%;
	-webkit-transition:border-radius 100ms ease-out;
	-moz-transition:border-radius 100ms ease-out;
	-o-transition:border-radius 100ms ease-out
}

#workSlidesBack:hover {
	border-radius:0
}

#workSlidesPrev {
	display:none;
	position:absolute;
	top:50%;
	margin-top:-32px;
	left:-100px;
	width:65px;
	height:65px;
	background-color:#000;
	background-color:rgba(0,0,0,0.7);
	background-image:url('../img/work-slides-arrow-prev.png');
	z-index:7;
	cursor:pointer;
	border-radius:50%;
	-webkit-transition:border-radius 100ms ease-out;
	-moz-transition:border-radius 100ms ease-out;
	-o-transition:border-radius 100ms ease-out
}

#workSlidesPrev:hover {
	border-radius:0
}

#workSlidesNext {
	display:none;
	position:absolute;
	top:50%;
	margin-top:-32px;
	right:-100px;
	width:65px;
	height:65px;
	background-color:#000;
	background-color:rgba(0,0,0,0.7);
	background-image:url('../img/work-slides-arrow-next.png');
	z-index:7;
	cursor:pointer;
	border-radius:50%;
	-webkit-transition:border-radius 100ms ease-out;
	-moz-transition:border-radius 100ms ease-out;
	-o-transition:border-radius 100ms ease-out
}

#workSlidesNext:hover {
	border-radius:0
}

.workSlide {
	position:absolute
}

.workSlide h3 {
	text-transform:uppercase
}

.workSlide .launchProjectButton {
	display:block;
	position:absolute;
	color:#428347;
	text-decoration:none;
	background-color:#a2eea8;
	font-size:14px;
	text-align:center;
	padding:5px 12px 2px 12px;
	background-repeat:no-repeat;
	cursor:pointer;
	z-index:10;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px
}

.workSlide .slideBackButton {
	display:block;
	position:absolute;
	font-size:14px;
	padding:13px 20px 8px 20px;
	cursor:pointer;
	background-color:#a2eea8;
	color:#000;
	text-decoration:none
}

.workSlide .sayHelloButton {
	display:block;
	position:absolute;
	font-size:14px;
	padding:13px 20px 8px 20px;
	cursor:pointer;
	background-color:#fffc8e;
	color:#000;
	text-decoration:none
}

.workSlide#workMDSSlide1 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%
}

.workSlide#workMDSSlide1 .launchProjectButton {
	right:200px;
	top:152px
}

.workSlide#workMDSSlide1 img.logo {
	position:relative;
	width:550px;
	height:350px;
	margin:0 auto;
	margin-top:-360px;
	margin-bottom:160px;
	display:block
}

.workSlide#workMDSSlide1 h3 {
	font-size:30px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:10px;
	margin-right:120px
}

.workSlide#workMDSSlide1 p {
	color:#fff;
	text-align:center;
	font-size:24px;
	width:910px;
	display:block;
	margin:0 auto
}

.workSlide#workMDSSlide2 {
	background:url('../img/work-mds-slide2-bg.jpg')
}

.workSlide#workMDSSlide2 .slideContent {
	position:absolute;
	width:1000px;
	height:600px;
	margin-left:-500px;
	left:50%;
	top:50%
}

.workSlide#workMDSSlide2 .launchProjectButton {
	right:200px;
	top:161px;
	z-index:3
}

.workSlide#workMDSSlide2 img {
	width:830px;
	height:409px;
	margin:0 auto;
	margin-top:-300px;
	margin-bottom:50px;
	display:block;
	position:relative
}

.workSlide#workMDSSlide2 h3 {
	font-size:30px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:0;
	margin-right:140px
}

.workSlide#workMDSSlide2 p {
	text-align:center;
	font-size:24px;
	width:940px;
	display:block;
	margin:0 auto
}

.workSlide#workMDSSlide3 {
	background-color:#111
}

.workSlide#workMDSSlide3 .slideContent {
	position:absolute;
	width:1000px;
	height:900px;
	margin:0 auto;
	left:50%;
	margin-left:-500px;
	top:0
}

.workSlide#workMDSSlide3 .launchProjectButton {
	right:143px;
	top:153px
}

.workSlide#workMDSSlide3 h3 {
	position:absolute;
	font-size:40px;
	color:#fff;
	display:block;
	z-index:2;
	top:125px;
	left:70px
}

.workSlide#workMDSSlide3 img {
	position:absolute;
	width:1000px;
	height:900px;
	display:block;
	top:0;
	left:155px;
	z-index:0
}

.workSlide#workMDSSlide3 .copy {
	text-align:left;
	font-size:20px;
	color:#fff;
	position:absolute;
	display:block;
	z-index:2;
	width:334px;
	left:70px;
	top:170px
}

.workSlide#workMDSSlide4 {
	background:#e7ebf2
}

.workSlide#workMDSSlide4 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%;
	margin-top:-350px
}

.workSlide#workMDSSlide4 .launchProjectButton {
	right:120px;
	top:522px;
	z-index:5
}

.workSlide#workMDSSlide4 img {
	position:relative;
	width:990px;
	height:520px;
	display:block
}

.workSlide#workMDSSlide4 h3 {
	font-size:30px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	margin:0 auto;
	margin-right:153px
}

.workSlide#workMDSSlide4 p {
	text-align:center;
	font-size:24px;
	width:910px;
	display:block;
	margin:0 auto
}

.workSlide#workMDSSlide5 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%;
	margin-top:-100px
}

.workSlide#workMDSSlide5 h3 {
	font-size:100px;
	line-height:90px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
}

.workSlide#workMDSSlide5 .slideBackButton {
	left:445px;
	top:100px
}

.workSlide#workMDSSlide5 .sayHelloButton {
	left:300px;
	top:100px
}

.workSlide#workFrontierSlide1 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%
}

.workSlide#workFrontierSlide1 h3 {
	position:relative;
	font-size:48px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	margin-top:60px;
	margin-bottom:20px
}

.workSlide#workFrontierSlide1 p {
	text-align:center;
	font-size:24px;
	width:970px;
	display:block;
	margin:0 auto;
	margin-bottom:15px
}

.workSlide#workFrontierSlide2 {
	background:url('../img/work-mds-slide2-bg.jpg')
}

.workSlide#workFrontierSlide2 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%
}

.workSlide#workFrontierSlide2 .launchProjectButton {
	right:232px;
	top:154px
}

.workSlide#workFrontierSlide2 img {
	position:relative;
	width:830px;
	height:432px;
	margin:0 auto;
	margin-top:-320px;
	margin-bottom:40px;
	display:block
}

.workSlide#workFrontierSlide2 h3 {
	font-size:30px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:10px;
	margin-right:160px
}

.workSlide#workFrontierSlide2 p {
	text-align:center;
	font-size:24px;
	width:880px;
	display:block;
	margin:0 auto
}

.workSlide#workFrontierSlide3 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%
}

.workSlide#workFrontierSlide3 .launchProjectButton {
	right:195px;
	top:156px
}

.workSlide#workFrontierSlide3 img {
	width:830px;
	height:394px;
	margin:0 auto;
	margin-top:-290px;
	margin-bottom:50px;
	display:block
}

.workSlide#workFrontierSlide3 h3 {
	font-size:30px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:10px;
	margin-right:147px
}

.workSlide#workFrontierSlide3 p {
	text-align:center;
	font-size:24px;
	width:910px;
	display:block;
	margin:0 auto
}

.workSlide#workFrontierSlide4 {
	background:url('../img/work-mds-slide2-bg.jpg')
}

.workSlide#workFrontierSlide4 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%
}

.workSlide#workFrontierSlide4 .launchProjectButton {
	right:182px;
	top:152px
}

.workSlide#workFrontierSlide4 img {
	position:relative;
	width:830px;
	height:390px;
	margin:0 auto;
	margin-top:-290px;
	margin-bottom:50px;
	display:block
}

.workSlide#workFrontierSlide4 h3 {
	font-size:30px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:10px;
	margin-right:120px
}

.workSlide#workFrontierSlide4 p {
	text-align:center;
	font-size:24px;
	width:910px;
	display:block;
	margin:0 auto
}

.workSlide#workFrontierSlide5 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%
}

.workSlide#workFrontierSlide5 .launchProjectButton {
	right:182px;
	top:161px
}

.workSlide#workFrontierSlide5 img {
	position:relative;
	width:830px;
	height:399px;
	margin:0 auto;
	margin-top:-290px;
	margin-bottom:50px;
	display:block
}

.workSlide#workFrontierSlide5 h3 {
	font-size:30px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:10px;
	margin-right:100px
}

.workSlide#workFrontierSlide5 p {
	text-align:center;
	font-size:24px;
	width:910px;
	display:block;
	margin:0 auto
}

.workSlide#workFrontierSlide6 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%;
	margin-top:-100px
}

.workSlide#workFrontierSlide6 h3 {
	font-size:100px;
	line-height:90px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
}

.workSlide#workFrontierSlide6 .slideBackButton {
	left:445px;
	top:190px
}

.workSlide#workFrontierSlide6 .sayHelloButton {
	left:300px;
	top:190px
}

.workSlide#workI30Slide1 {
	background-color:#232323
}

.workSlide#workI30Slide1 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%
}

.workSlide#workI30Slide1 img {
	width:998px;
	height:568px;
	margin:0 auto;
	margin-top:35px;
	margin-bottom:0;
	display:block
}

.workSlide#workI30Slide1 h3 {
	font-size:48px;
	color:#000;
	text-align:left;
	text-transform:none;
	margin-bottom:10px;
	margin-top:70px;
	margin-bottom:20px;
	margin-left:20px
}

.workSlide#workI30Slide1 p {
	text-align:left;
	font-size:24px;
	color:#000;
	display:block;
	margin:0 auto;
	margin-left:20px
}

.workSlide#workI30Slide2 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%
}

.workSlide#workI30Slide2 h3 {
	position:relative;
	font-size:30px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	margin:150px auto 10px auto
}

.workSlide#workI30Slide2 p {
	margin:0 auto;
	text-align:center;
	color:#fff;
	font-size:24px;
	width:880px;
	display:block
}

.workSlide#workI30Slide3 {
	background:url('../img/work-mds-slide2-bg.jpg')
}

.workSlide#workI30Slide3 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%
}

.workSlide#workI30Slide3 .launchProjectButton {
	right:146px;
	top:163px
}

.workSlide#workI30Slide3 img {
	position:relative;
	width:777px;
	height:461px;
	margin:0 auto;
	margin-top:-330px;
	margin-bottom:30px;
	display:block
}

.workSlide#workI30Slide3 h3 {
	font-size:30px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:10px
}

.workSlide#workI30Slide3 p {
	text-align:center;
	font-size:24px;
	width:910px;
	display:block;
	margin:0 auto
}

.workSlide#workI30Slide4 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%
}

.workSlide#workI30Slide4 .launchProjectButton {
	right:285px;
	top:194px
}

.workSlide#workI30Slide4 img {
	position:relative;
	width:745px;
	height:452px;
	margin:0 auto;
	margin-top:-300px;
	margin-bottom:40px;
	display:block
}

.workSlide#workI30Slide4 h3 {
	font-size:30px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:10px
}

.workSlide#workI30Slide4 p {
	text-align:center;
	color:#fff;
	font-size:24px;
	width:910px;
	display:block;
	margin:0 auto
}

.workSlide#workI30Slide5 .slideContent {
	position:absolute;
	width:1000px;
	margin-left:-500px;
	left:50%;
	top:50%;
	margin-top:-100px
}

.workSlide#workI30Slide5 h3 {
	font-size:100px;
	line-height:90px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
}

.workSlide#workI30Slide5 .slideBackButton {
	left:445px;
	top:190px
}

.workSlide#workI30Slide5 .sayHelloButton {
	left:300px;
	top:190px
}

.touchDevice #workSlidesPrev:hover,.touchDevice #workSlidesNext:hover,.touchDevice #workSlidesBack:hover {
	border-radius:50%
}

#skypeButton {
	visibility:hidden;
	position:absolute;
	left:-9999px
}




@media all and (max-width: 1200px) {

	.container {
	   /* width:700px;  use bootstrap value */
	    margin:0 auto
    }

    #welcome-section {
	    height:800px
    }

    #welcome-section h1 {
	    margin-top:350px;
	    text-align:center;
	    color:white;
	    font-size:50px
    }

    #work-section {
	    height:900px
    }

    #work-section .header {
	    margin-top:50px;
	    font-size:50px
    }

    #work-section .subheader {
	    font-size:14px;
	    width:609px;
	    line-height:18px;
	    margin-top:14px;
	    margin-bottom:21px;
	    letter-spacing:0
    }

    #work-section .workCards {
	    width:760px;
	    position:relative
    }

    #work-section .workCards .workCard {
	    width:226px;
	    height:350px
    }

    #work-section .workCards .workCard.last {
	    width:227px
    }

    #work-section .workCards .workCard h3 {
	    font-size:16px;
	    padding:0 20px;
	    margin:10px 0 0 0
    }

    #work-section .workCards .workCard p {
	    font-size:12px;
	    padding:0 40px 0 20px;
	    line-height:16px;
	    margin-top:10px;
	    letter-spacing:0
    }

    #work-section .workCards .workCard .viewButton {
	    bottom:20px;
	    left:20px
    }

    #work-section .workCards .workCard .loadingBar {
	    bottom:20px;
	    left:20px;
	    width:0
    }

    #about-section {
	    height:840px
    }

    #services-section {
	    height:1200px
    }

    #services-section h2 {
	    font-size:50px;
	    margin-top:91px
    }

    #services-section .content {
	    font-size:14px;
	    width:540px;
	    line-height:18px;
	    margin-bottom:42px;
	    letter-spacing:0
    }

    #services-section .columnsBox {
	    width:700px
    }

    #services-section .columnsBox .column {
	    width:140px;
	    margin-right:46px
    }

    #services-section .columnsBox .column .smallRule {
	    width:140px
    }

    #services-section .columnsBox .column.first {
	    margin-right:48px
    }

    #services-section .columnsBox .column h3 {
	    font-size:24px;
	    margin-top:19px;
	    margin-bottom:15px
    }

    #services-section .columnsBox .column ul li {
	    font-size:12px;
	    letter-spacing:0
    }

    #services-section .columnsBox .column p {
	    font-size:12px;
	    color:#cacaca;
	    letter-spacing:0
    }

    #approach-section {
	    height:900px
    }

    #approach-section .header {
	    margin-top:91px;
	    margin-bottom:13px;
	    width:380px;
	    text-align:left;
	    font-size:50px
    }

    #approach-section .content {
	    color:#fff;
	    font-size:14px;
	    width:546px;
	    line-height:18px;
	    margin-bottom:42px;
	    letter-spacing:0
    }

    #approach-section .columnsBox {
	    width:700px
    }

    #approach-section .columnsBox .column {
	    width:140px;
	    margin-right:46px
    }

    #approach-section .columnsBox .column .smallRule {
	    width:140px
    }

    #approach-section .columnsBox .column.first {
	    margin-right:48px
    }

    #approach-section .columnsBox .column h3 {
	    font-size:24px;
	    margin-top:19px;
	    margin-bottom:15px
    }

    #approach-section .columnsBox .column p {
	    font-size:12px;
	    color:#cacaca;
	    letter-spacing:0
    }

    .workSlide#workMDSSlide1 .slideContent {
	    position:absolute;
	    width:700px;
	    margin-left:-350px;
	    left:50%;
	    top:50%
    }

    .workSlide#workMDSSlide1 .launchProjectButton {
	    right:120px;
	    top:120px
    }

    .workSlide#workMDSSlide1 img.logo {
	    position:relative;
	    width:550px;
	    height:350px;
	    margin:0 auto;
	    margin-top:-390px;
	    margin-bottom:160px;
	    display:block
    }

    .workSlide#workMDSSlide1 h3 {
	    font-size:21px;
	    color:#fff;
	    text-align:center;
	    text-transform:uppercase;
	    margin-bottom:10px;
	    margin-right:120px
    }

    .workSlide#workMDSSlide1 p {
	    font-size:16px;
	    width:650px;
	    letter-spacing:0
    }

    .workSlide#workMDSSlide2 .slideContent {
	    position:absolute;
	    width:700px;
	    height:900px;
	    margin-left:-350px
    }

    .workSlide#workMDSSlide2 .launchProjectButton {
	    right:122px;
	    top:75px
    }

    .workSlide#workMDSSlide2 img {
	    width:581px;
	    height:auto;
	    margin:0 auto;
	    margin-top:-230px
    }

    .workSlide#workMDSSlide2 h3 {
	    font-size:21px;
	    color:#000;
	    margin-right:140px;
	    margin-top:20px;
	    margin-bottom:10px
    }

    .workSlide#workMDSSlide2 p {
	    text-align:center;
	    font-size:16px;
	    letter-spacing:0;
	    width:660px;
	    display:block;
	    margin:0 auto
    }

    .workSlide#workMDSSlide3 .slideContent {
	    width:700px;
	    margin-left:-350px;
	    height:900px;
	    top:50%
    }

    .workSlide#workMDSSlide3 .launchProjectButton {
	    right:143px;
	    top:153px
    }

    .workSlide#workMDSSlide3 h3 {
	    font-size:28px;
	    margin-top:-335px;
	    left:80px
    }

    .workSlide#workMDSSlide3 img {
	    width:700px;
	    height:auto;
	    margin-top:-250px;
	    left:105px;
	    z-index:0
    }

    .workSlide#workMDSSlide3 .copy {
	    font-size:14px;
	    letter-spacing:0;
	    margin-top:-346px;
	    width:234px;
	    left:80px
    }

    .workSlide#workMDSSlide4 .slideContent {
	    width:700px;
	    height:900px;
	    top:50%;
	    margin-left:-350px;
	    margin-top:0
    }

    .workSlide#workMDSSlide4 .launchProjectButton {
	    right:61px;
	    top:122px
    }

    .workSlide#workMDSSlide4 img {
	    margin-top:-250px;
	    width:693px;
	    height:auto
    }

    .workSlide#workMDSSlide4 h3 {
	    font-size:21px;
	    margin-right:135px;
	    margin-top:10px;
	    margin-bottom:10px
    }

    .workSlide#workMDSSlide4 p {
	    font-size:16px;
	    letter-spacing:0;
	    width:637px
    }

    .workSlide#workMDSSlide5 .slideContent {
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workMDSSlide5 h3 {
	    font-size:60px;
	    line-height:50px
    }

    .workSlide#workMDSSlide5 .slideBackButton {
	    left:330px;
	    top:70px
    }

    .workSlide#workMDSSlide5 .sayHelloButton {
	    left:190px;
	    top:70px
    }

    .workSlide#workFrontierSlide1 .slideContent {
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workFrontierSlide1 h3 {
	    font-size:31px;
	    margin-bottom:20px
    }

    .workSlide#workFrontierSlide1 p {
	    font-size:16px;
	    letter-spacing:0;
	    width:679px
    }

    .workSlide#workFrontierSlide2 .slideContent {
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workFrontierSlide2 .launchProjectButton {
	    right:149px;
	    top:133px
    }

    .workSlide#workFrontierSlide2 img {
	    width:660px;
	    height:auto;
	    margin-top:-230px;
	    margin-bottom:20px
    }

    .workSlide#workFrontierSlide2 h3 {
	    font-size:21px;
	    margin-bottom:10px;
	    margin-right:160px
    }

    .workSlide#workFrontierSlide2 p {
	    font-size:16px;
	    letter-spacing:0;
	    width:670px
    }

    .workSlide#workFrontierSlide3 .slideContent {
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workFrontierSlide3 .launchProjectButton {
	    right:121px;
	    top:132px
    }

    .workSlide#workFrontierSlide3 img {
	    width:660px;
	    height:auto;
	    margin-top:-210px;
	    margin-bottom:30px;
	    display:block
    }

    .workSlide#workFrontierSlide3 h3 {
	    font-size:21px;
	    margin-bottom:10px;
	    margin-right:147px
    }

    .workSlide#workFrontierSlide3 p {
	    font-size:16px;
	    letter-spacing:0;
	    width:670px
    }

    .workSlide#workFrontierSlide4 .slideContent {
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workFrontierSlide4 .launchProjectButton {
	    right:114px;
	    top:128px
    }

    .workSlide#workFrontierSlide4 img {
	    width:660px;
	    height:auto;
	    margin-top:-210px;
	    margin-bottom:30px
    }

    .workSlide#workFrontierSlide4 h3 {
	    font-size:21px;
	    margin-bottom:10px;
	    margin-right:120px
    }

    .workSlide#workFrontierSlide4 p {
	    font-size:16px;
	    letter-spacing:0;
	    width:670px
    }

    .workSlide#workFrontierSlide5 .slideContent {
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workFrontierSlide5 .launchProjectButton {
	    right:110px;
	    top:126px
    }

    .workSlide#workFrontierSlide5 img {
	    width:660px;
	    height:auto;
	    margin-top:-220px;
	    margin-bottom:30px
    }

    .workSlide#workFrontierSlide5 h3 {
	    font-size:21px;
	    margin-bottom:10px;
	    margin-right:100px
    }

    .workSlide#workFrontierSlide5 p {
	    font-size:16px;
	    letter-spacing:0;
	    width:670px
    }

    .workSlide#workFrontierSlide6 .slideContent {
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workFrontierSlide6 h3 {
	    font-size:60px;
	    line-height:50px
    }

    .workSlide#workFrontierSlide6 .slideBackButton {
	    left:310px;
	    top:116px
    }

    .workSlide#workFrontierSlide6 .sayHelloButton {
	    left:170px;
	    top:116px
    }

    .workSlide#workI30Slide1 .slideContent {
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workI30Slide1 h3 {
	    font-size:28px;
	    margin-left:0;
	    margin-top:150px;
	    margin-bottom:10px
    }

    .workSlide#workI30Slide1 p {
	    font-size:16px;
	    letter-spacing:0;
	    width:679px;
	    margin:0
    }

    .workSlide#workI30Slide2 .slideContent {
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workI30Slide2 h3 {
	    font-size:21px
    }

    .workSlide#workI30Slide2 p {
	    font-size:16px;
	    letter-spacing:0;
	    width:616px
    }

    .workSlide#workI30Slide3 .slideContent {
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workI30Slide3 .launchProjectButton {
	    right:84px;
	    top:107px
    }

    .workSlide#workI30Slide3 img {
	    width:570px;
	    height:auto;
	    margin:0 auto;
	    margin-top:-260px;
	    margin-bottom:30px
    }

    .workSlide#workI30Slide3 h3 {
	    font-size:21px;
	    margin-bottom:10px
    }

    .workSlide#workI30Slide3 p {
	    letter-spacing:0;
	    font-size:16px;
	    width:637px
    }

    .workSlide#workI30Slide4 .slideContent {
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workI30Slide4 .launchProjectButton {
	    right:178px;
	    top:177px
    }

    .workSlide#workI30Slide4 img {
	    position:relative;
	    width:625px;
	    height:auto;
	    margin:0 auto;
	    margin-top:-240px;
	    margin-bottom:40px;
	    display:block
    }

    .workSlide#workI30Slide4 h3 {
	    font-size:21px;
	    margin-bottom:10px
    }

    .workSlide#workI30Slide4 p {
	    font-size:16px;
	    letter-spacing:0;
	    width:637px
    }

    .workSlide#workI30Slide5 .slideContent {
	    position:absolute;
	    width:700px;
	    margin-left:-350px
    }

    .workSlide#workI30Slide5 h3 {
	    font-size:60px;
	    line-height:55px;
	    color:#fff
    }

    .workSlide#workI30Slide5 .slideBackButton {
	    left:310px;
	    top:130px
    }

    .workSlide#workI30Slide5 .sayHelloButton {
	    left:170px;
	    top:130px
    }


} /* max-width:1019px */

@media all and (max-width:767px) {
	.container {
	    width:460px;
	    margin:0 auto
    }

      .mobileMenu {
	    display:none;
	    position:absolute;
	    z-index:9999;
	    top:50px;
	    background:url('../img/000000-0.8.png');
	    width:100%
    }

    .mobileMenu ul {
	    display:block;
	    width:460px;
	    margin:0 auto;
	    padding:10px 0
    }

    .mobileMenu ul li { list-style-type: none; }

    .mobileMenu ul li a {
	    text-align:right;
	    display:block;
	    padding:5px 0;
	    color:#fff;
	    font-size:18px;
	    text-decoration:none;
    }

    #header {
	    height:50px;
	    background:url('../img/000000-0.8.png')
    }

    #header .container {
	    position:relative
    }

    /*
    #header .logo {
	    width:308px;
	    height:50px;
	    float:left;
	    margin-top:0;
	    background-image:url('../img/sib-logo-horizontal.png')
    }
    */

    #header .mobileMenuButton {
	    display:block;
	    width:35px;
	    height:35px;
	    position:absolute;
	    right:0;
	    top:5px;
	    cursor:pointer;
	    padding-left:5px;
	    padding-top:5px
    }

    #header .mobileMenuButton .bar {
	    display:block;
	    width:30px;
	    margin-top:5px;
	    height:3px;
	    background-color:#fff
    }

    #header .menu {
	    display:none
    }

    #header #underlineContainer {
	    display:none
    }

    #contentWrapper {
	    top:50px
    }

    #welcome-section {
	    height:400px
    }

    #welcome-section h1 {
	    margin-top:70px;
	    text-align:center;
	    color:white;
	    font-size:36px
    }

    #welcome-section #viewWorksButton {
	    margin-top:10px;
	    font-size:16px
    }

    #work-section {
	    height: 2046px
    }

    #work-section .header {
	    margin-top:30px;
	    font-size:36px
    }

    #work-section .subheader {
	    font-size:12px;
	    width:400px;
	    line-height:16px;
	    margin-top:10px;
	    margin-bottom:20px;
	    letter-spacing:0;
	    margin-left:auto
    }

    #work-section .workCards {
	    width:226px;
	    position:relative;
	    margin:0 auto
    }

    #work-section .workCards .workCard {
	    width:226px;
	    height:350px;
	    margin-bottom:20px;
	    margin-right:0;
	    margin-left:0
    }

    #work-section .workCards .workCard.last {
	    width:226px
    }

    #about-section {
	    height:630px;
    }

    #about-section .header {
	    margin-top:40px;
	    margin-left:auto;
	    margin-right:auto;
	    width:460px;
	    font-size:36px
    }

    #about-section .content {
	    font-size:12px;
	    line-height:1.5em;
	    letter-spacing:0;
	    margin-left:auto;
	    margin-right:auto;
	    padding:20px 0;
	    width:460px
    }

    #services-section {
	    height:1500px
    }

    #services-section h2 {
	    width:460px;
	    font-size:36px;
	    margin:0 auto;
	    margin-top:30px;
	    margin-bottom:20px
    }

    #services-section .content {
	    font-size:12px;
	    width:460px;
	    line-height:16px;
	    letter-spacing:0;
	    margin:0 auto;
	    margin-bottom:20px
    }

    #services-section .columnsBox {
	    width:460px
    }

    #services-section .columnsBox .column {
	    width:460px;
	    margin-right:0
    }

    #services-section .columnsBox .column .smallRule {
	    width:460px
    }

    #services-section .columnsBox .column.first {
	    margin-right:0
    }

    #services-section .columnsBox .column h3 {
	    font-size:28px;
	    margin-top:19px;
	    margin-bottom:15px
    }

    #services-section .columnsBox .column ul {
	    margin-bottom:30px
    }

    #services-section .columnsBox .column p {
	    font-size:12px;
	    color:#cacaca;
	    letter-spacing:0
    }

    #approach-section {
	    height:1190px;
    }

    #approach-section .header {
	    margin-top:30px;
	    margin-bottom:20px;
	    font-size:36px;
	    width:460px
    }

    #approach-section .content {
	    color:#fff;
	    font-size:12px;
	    width:460px;
	    line-height:16px;
	    margin-bottom:20px
    }

    #approach-section .columnsBox {
	    width:460px
    }

    #approach-section .columnsBox .column {
	    width:460px;
	    margin-right:0;
	    margin-bottom:20px
    }

    #approach-section .columnsBox .column .smallRule {
	    height:1px;
	    width:460px
    }

    #approach-section .columnsBox .column.first {
	    margin-right:0
    }

    #approach-section .columnsBox .column h3 {
	    font-size:28px;
	    margin-top:19px;
	    margin-bottom:15px
    }

    #approach-section .columnsBox .column p {
	    font-size:12px;
	    padding-right:0
    }

    .workSlide .launchProjectButton {
	    font-size:12px
    }

    .workSlide .slideBackButton {
	    font-size:12px;
	    padding:10px 15px 6px 15px
    }

    .workSlide .sayHelloButton {
	    font-size:12px;
	    padding:10px 15px 6px 15px
    }

    .workSlide#workMDSSlide1 .slideContent {
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workMDSSlide1 .launchProjectButton {
	    right:61px;
	    top:12px
    }

    .workSlide#workMDSSlide1 img.logo {
	    width:200px;
	    height:auto;
	    margin:0 auto;
	    margin-top:-130px;
	    margin-bottom:60px
    }

    .workSlide#workMDSSlide1 h3 {
	    font-size:16px;
	    margin-bottom:10px;
	    margin-right:0
    }

    .workSlide#workMDSSlide1 p {
	    font-size:12px;
	    width:340px
    }

    .workSlide#workMDSSlide2 .slideContent {
	    position:absolute;
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workMDSSlide2 .launchProjectButton {
	    right:40px;
	    top:23px
    }

    .workSlide#workMDSSlide2 img {
	    width:380px;
	    height:auto;
	    margin:0 auto;
	    margin-top:-142px
    }

    .workSlide#workMDSSlide2 h3 {
	    font-size:16px;
	    color:#000;
	    margin-right:0;
	    margin-top:20px;
	    margin-bottom:10px
    }

    .workSlide#workMDSSlide2 p {
	    font-size:12px;
	    width:340px
    }

    .workSlide#workMDSSlide3 .slideContent {
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workMDSSlide3 .launchProjectButton {
	    right:143px;
	    top:153px
    }

    .workSlide#workMDSSlide3 h3 {
	    font-size:18px;
	    margin-top:-239px;
	    left:60px
    }

    .workSlide#workMDSSlide3 img {
	    width:800px;
	    height:auto;
	    margin-top:-258px;
	    left:73px;
	    z-index:0
    }

    .workSlide#workMDSSlide3 .copy {
	    font-size:12px;
	    margin-top:-263px;
	    width:276px;
	    left:60px
    }

    .workSlide#workMDSSlide4 .slideContent {
	    width:460px;
	    height:300px;
	    top:50%;
	    margin-left:-230px;
	    margin-top:0
    }

    .workSlide#workMDSSlide4 .launchProjectButton {
	    right:46px;
	    top:21px
    }

    .workSlide#workMDSSlide4 img {
	    margin-top:-192px;
	    width:460px;
	    height:auto
    }

    .workSlide#workMDSSlide4 h3 {
	    font-size:16px;
	    margin:0 auto;
	    margin-right:0;
	    margin-top:10px;
	    margin-bottom:10px
    }

    .workSlide#workMDSSlide4 p {
	    font-size:12px;
	    width:340px
    }

    .workSlide#workMDSSlide5 .slideContent {
	    height:300px;
	    width:460px;
	    margin-left:-230px;
	    margin-top:-40px
    }

    .workSlide#workMDSSlide5 h3 {
	    font-size:36px;
	    line-height:30px
    }

    .workSlide#workMDSSlide5 .slideBackButton {
	    left:195px;
	    top:50px
    }

    .workSlide#workMDSSlide5 .sayHelloButton {
	    left:90px;
	    top:50px
    }

    .workSlide#workFrontierSlide1 .slideContent {
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workFrontierSlide1 h3 {
	    font-size:16px;
	    margin-bottom:10px;
	    margin-top:-40px
    }

    .workSlide#workFrontierSlide1 p {
	    font-size:12px;
	    width:350px
    }

    .workSlide#workFrontierSlide2 .slideContent {
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workFrontierSlide2 .launchProjectButton {
	    right:63px;
	    top:11px
    }

    .workSlide#workFrontierSlide2 img {
	    width:340px;
	    margin-top:-140px;
	    margin-bottom:10px
    }

    .workSlide#workFrontierSlide2 h3 {
	    font-size:16px;
	    margin-right:0
    }

    .workSlide#workFrontierSlide2 p {
	    font-size:12px;
	    width:340px
    }

    .workSlide#workFrontierSlide3 .slideContent {
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workFrontierSlide3 .launchProjectButton {
	    right:58px;
	    top:11px
    }

    .workSlide#workFrontierSlide3 img {
	    width:340px;
	    margin-top:-125px;
	    margin-bottom:20px
    }

    .workSlide#workFrontierSlide3 h3 {
	    font-size:16px;
	    margin-bottom:10px;
	    margin-right:0
    }

    .workSlide#workFrontierSlide3 p {
	    font-size:12px;
	    width:340px
    }

    .workSlide#workFrontierSlide4 .slideContent {
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workFrontierSlide4 .launchProjectButton {
	    right:58px;
	    top:12px
    }

    .workSlide#workFrontierSlide4 img {
	    width:340px;
	    margin-top:-125px;
	    margin-bottom:20px
    }

    .workSlide#workFrontierSlide4 h3 {
	    font-size:16px;
	    margin-bottom:10px;
	    margin-right:0
    }

    .workSlide#workFrontierSlide4 p {
	    font-size:12px;
	    letter-spacing:0;
	    width:340px
    }

    .workSlide#workFrontierSlide5 .slideContent {
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workFrontierSlide5 .launchProjectButton {
	    right:63px;
	    top:11px
    }

    .workSlide#workFrontierSlide5 img {
	    width:340px;
	    height:auto;
	    margin-top:-125px;
	    margin-bottom:20px
    }

    .workSlide#workFrontierSlide5 h3 {
	    font-size:16px;
	    margin-bottom:10px;
	    margin-right:0
    }

    .workSlide#workFrontierSlide5 p {
	    font-size:12px;
	    letter-spacing:0;
	    width:340px
    }

    .workSlide#workFrontierSlide6 .slideContent {
	    position:absolute;
	    width:460px;
	    margin-left:-230px;
	    margin-top:-40px
    }

    .workSlide#workFrontierSlide6 h3 {
	    font-size:36px;
	    line-height:36px
    }

    .workSlide#workFrontierSlide6 .slideBackButton {
	    left:195px;
	    top:76px
    }

    .workSlide#workFrontierSlide6 .sayHelloButton {
	    left:90px;
	    top:76px
    }

    .workSlide#workI30Slide1 .slideContent {
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workI30Slide1 h3 {
	    font-size:16px;
	    margin-top:20px
    }

    .workSlide#workI30Slide1 p {
	    font-size:12px;
	    width:679px;
	    width:340px
    }

    .workSlide#workI30Slide2 .slideContent {
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workI30Slide2 h3 {
	    font-size:16px;
	    margin-top:30px
    }

    .workSlide#workI30Slide2 p {
	    font-size:12px;
	    width:340px
    }

    .workSlide#workI30Slide3 .slideContent {
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workI30Slide3 .launchProjectButton {
	    right:67px;
	    top:15px
    }

    .workSlide#workI30Slide3 img {
	    width:310px;
	    height:auto;
	    margin:0 auto;
	    margin-top:-147px;
	    margin-bottom:15px
    }

    .workSlide#workI30Slide3 h3 {
	    font-size:16px;
	    margin-bottom:10px;
	    margin-right:0
    }

    .workSlide#workI30Slide3 p {
	    font-size:12px;
	    width:340px
    }

    .workSlide#workI30Slide4 .slideContent {
	    width:460px;
	    margin-left:-230px
    }

    .workSlide#workI30Slide4 .launchProjectButton {
	    right:67px;
	    top:17px
    }

    .workSlide#workI30Slide4 img {
	    position:relative;
	    width:290px;
	    height:auto;
	    margin:0 auto;
	    margin-top:-134px;
	    margin-bottom:10px;
	    display:block
    }

    .workSlide#workI30Slide4 h3 {
	    font-size:16px;
	    margin-bottom:10px;
	    margin-right:0
    }

    .workSlide#workI30Slide4 p {
	    font-size:12px;
	    width:340px
    }

    .workSlide#workI30Slide5 .slideContent {
	    position:absolute;
	    width:460px;
	    margin-left:-230px;
	    margin-top:-40px
    }

    .workSlide#workI30Slide5 h3 {
	    font-size:36px;
	    line-height:36px
    }

    .workSlide#workI30Slide5 .slideBackButton {
	    left:195px;
	    top:76px
    }

    .workSlide#workI30Slide5 .sayHelloButton {
	    left:90px;
	    top:76px
    }

    #workSlidesPrev {
	    top:50%;
	    margin-top:-15px;
	    width:30px;
	    height:30px;
	    background-size:30px 30px
    }

    #workSlidesNext {
	    top:50%;
	    margin-top:-15px;
	    width:30px;
	    height:30px;
	    background-size:30px 30px
    }

    #workSlidesBack {
	    position:absolute;
	    top:-100px;
	    margin-top:-26px;
	    left:50%;
	    margin-left:-26px;
	    width:52px;
	    height:52px;
	    background-size:52px 52px
    }

    #rules-section .header { margin-top: 30px; }

    #footer {
	    height:0 !important;
	    visibility:hidden
    }


} /* max-width:767px */

/*
@media all and (max-width:767px) and (-webkit-min-device-pixel-ratio:1.5) {
	#header .logo {
	background-image:url('../img/sib-logo-horizontal@2x.png');
	background-size:308px 50px
}
}
*/

@media all and (max-width:479px) {

	.container {
	    /*width:300px;  use bootstrap value */
	    margin:0 auto
    }

    .mobileMenu ul {
	    width:300px
    }

    #header {
	    height:50px;
	    background:url('../img/000000-0.8.png')
    }

    #header .mobileMenuButton {
	    width:30px;
	    height:30px;
	    padding-left:10px;
	    padding-top:10px
    }

    #header .mobileMenuButton .bar {
	    width:20px;
	    margin-top:3px;
	    height:2px
    }

    #header .menu {
	    display:none
    }

    #header #underlineContainer {
	    display:none
    }

    #contentWrapper {
	    top:50px
    }

    #welcome-section {
	    height: 604px
    }

    #welcome-section h1 {
	    margin-top:130px;
	    text-align:center;
	    color:white
    }

    #work-section {
	    height:1500px
    }

    #work-section .header {
	    margin-top:30px;
	    font-size:36px
    }

    #work-section .subheader {
	    font-size:12px;
	    width:300px;
	    line-height:16px;
	    margin-top:10px;
	    margin-bottom:20px;
	    letter-spacing:0;
	    margin-left:auto
    }

    #work-section .workCards {
	    width:226px;
	    position:relative;
	    margin:0 auto
    }

    #work-section .workCards .workCard {
	    width:226px;
	    height:350px;
	    margin-bottom:20px;
	    margin-right:0;
	    margin-left:0
    }

    #work-section .workCards .workCard.last {
	    width:226px
    }

    #about-section {
	    height:600px
    }

    #about-section .header {
	    margin-top:40px;
	    margin-left:auto;
	    margin-right:auto;
	    width:300px;
	    font-size:36px
    }

    #about-section .content {
	    font-size:12px;
	    line-height:1.5em;
	    letter-spacing:0;
	    margin-left:auto;
	    margin-right:auto;
	    padding:20px 0;
	    width:300px
    }

    #services-section {
	    height:1700px
    }

    #services-section h2 {
	    width:300px;
	    font-size:36px;
	    margin:0 auto;
	    margin-top:30px;
	    margin-bottom:20px
    }

    #services-section .content {
	    font-size:12px;
	    width:300px;
	    line-height:16px;
	    letter-spacing:0;
	    margin:0 auto;
	    margin-bottom:20px
    }

    #services-section .columnsBox {
	    width:300px
    }

    #services-section .columnsBox .column {
	    width:300px;
	    margin-right:0
    }

    #services-section .columnsBox .column .smallRule {
	    width:300px
    }

    #services-section .columnsBox .column.first {
	    margin-right:0
    }

    #services-section .columnsBox .column h3 {
	    font-size:28px;
	    margin-top:19px;
	    margin-bottom:15px
    }

    #services-section .columnsBox .column p {
	    font-size:12px;
	    color:#cacaca;
	    letter-spacing:0
    }

    #approach-section {
	    height:1000px
    }

    #approach-section .header {
	    margin-top:30px;
	    margin-bottom:20px;
	    font-size:36px;
	    width:300px
    }

    #approach-section .content {
	    color:#fff;
	    font-size:12px;
	    width:300px;
	    line-height:16px;
	    margin-bottom:20px
    }

    #approach-section .columnsBox {
	    width:300px
    }

    #approach-section .columnsBox .column {
	    width:300px;
	    margin-right:0;
	    margin-bottom:20px
    }

    #approach-section .columnsBox .column .smallRule {
	    height:1px;
	    width:300px
    }

    #approach-section .columnsBox .column.first {
	    margin-right:0
    }

    #approach-section .columnsBox .column h3 {
	    font-size:28px;
	    margin-top:19px;
	    margin-bottom:15px
    }

    #approach-section .columnsBox .column p {
	    font-size:12px;
	    padding-right:0;
	    padding-left:0
    }

    .workSlide .slideBackButton {
	    font-size:12px;
	    padding:10px 15px 6px 15px
    }

    .workSlide .sayHelloButton {
	    font-size:12px;
	    padding:10px 15px 6px 15px
    }

    .workSlide#workMDSSlide1 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workMDSSlide1 .launchProjectButton {
	    right:100px;
	    top:145px
    }

    .workSlide#workMDSSlide1 img.logo {
	    margin-top:-150px;
	    margin-bottom:70px
    }

    .workSlide#workMDSSlide1 p {
	    width:260px
    }

    .workSlide#workMDSSlide2 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workMDSSlide2 .launchProjectButton {
	    right:100px;
	    top:145px
    }

    .workSlide#workMDSSlide2 img {
	    width:280px;
	    margin-top:-142px
    }

    .workSlide#workMDSSlide2 h3 {
	    font-size:16px
    }

    .workSlide#workMDSSlide2 p {
	    width:260px
    }

    .workSlide#workMDSSlide3 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workMDSSlide3 .launchProjectButton {
	    right:143px;
	    top:170px
    }

    .workSlide#workMDSSlide3 h3 {
	    font-size:18px;
	    margin-top:-280px;
	    left:60px
    }

    .workSlide#workMDSSlide3 img {
	    width:800px;
	    margin-top:-321px;
	    left:-24px
    }

    .workSlide#workMDSSlide3 .copy {
	    margin-top:-307px;
	    width:196px;
	    left:60px
    }

    .workSlide#workMDSSlide4 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workMDSSlide4 .launchProjectButton {
	    right:100px;
	    top:145px
    }

    .workSlide#workMDSSlide4 img {
	    margin-top:-155px;
	    width:300px;
	    height:auto
    }

    .workSlide#workMDSSlide4 p {
	    font-size:12px;
	    width:260px
    }

    .workSlide#workMDSSlide5 .slideContent {
	    height:300px;
	    width:300px;
	    margin-left:-150px;
	    margin-top:-80px
    }

    .workSlide#workMDSSlide5 h3 {
	    font-size:24px
    }

    .workSlide#workMDSSlide5 .slideBackButton {
	    left:58px;
	    top:50px
    }

    .workSlide#workMDSSlide5 .sayHelloButton {
	    left:105px;
	    top:90px
    }

    .workSlide#workFrontierSlide1 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workFrontierSlide1 h3 {
	    font-size:16px;
	    margin-bottom:10px;
	    margin-top:-40px
    }

    .workSlide#workFrontierSlide1 p {
	    font-size:12px;
	    width:230px
    }

    .workSlide#workFrontierSlide2 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workFrontierSlide2 .launchProjectButton {
	    right:100px;
	    top:145px
    }

    .workSlide#workFrontierSlide2 img {
	    width:280px;
	    margin-top:-125px;
	    margin-bottom:10px
    }

    .workSlide#workFrontierSlide2 h3 {
	    font-size:16px;
	    margin-right:0
    }

    .workSlide#workFrontierSlide2 p {
	    font-size:12px;
	    width:260px
    }

    .workSlide#workFrontierSlide3 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workFrontierSlide3 .launchProjectButton {
	    right:100px;
	    top:145px
    }

    .workSlide#workFrontierSlide3 img {
	    width:280px;
	    margin-top:-125px;
	    margin-bottom:20px
    }

    .workSlide#workFrontierSlide3 h3 {
	    font-size:16px;
	    margin-bottom:10px;
	    margin-right:0
    }

    .workSlide#workFrontierSlide3 p {
	    font-size:12px;
	    width:270px
    }

    .workSlide#workFrontierSlide4 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workFrontierSlide4 .launchProjectButton {
	    right:100px;
	    top:145px
    }

    .workSlide#workFrontierSlide4 img {
	    width:280px;
	    margin-top:-125px;
	    margin-bottom:20px
    }

    .workSlide#workFrontierSlide4 h3 {
	    font-size:16px;
	    margin-bottom:10px;
	    margin-right:0
    }

    .workSlide#workFrontierSlide4 p {
	    font-size:12px;
	    letter-spacing:0;
	    width:270px
    }

    .workSlide#workFrontierSlide5 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workFrontierSlide5 .launchProjectButton {
	    right:100px;
	    top:145px
    }

    .workSlide#workFrontierSlide5 img {
	    width:280px;
	    margin-top:-125px;
	    margin-bottom:20px
    }

    .workSlide#workFrontierSlide5 h3 {
	    font-size:16px;
	    margin-bottom:10px;
	    margin-right:0
    }

    .workSlide#workFrontierSlide5 p {
	    font-size:12px;
	    letter-spacing:0;
	    width:270px
    }

    .workSlide#workFrontierSlide6 .slideContent {
	    position:absolute;
	    width:300px;
	    margin-left:-150px;
	    margin-top:-100px
    }

    .workSlide#workFrontierSlide6 h3 {
	    font-size:24px;
	    line-height:24px
    }

    .workSlide#workFrontierSlide6 .slideBackButton {
	    left:58px;
	    top:70px
    }

    .workSlide#workFrontierSlide6 .sayHelloButton {
	    left:105px;
	    top:110px
    }

    .workSlide#workI30Slide1 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workI30Slide1 h3 {
	    font-size:16px;
	    width:270px;
	    margin:0 auto;
	    margin-top:40px;
	    margin-bottom:10px
    }

    .workSlide#workI30Slide1 p {
	    font-size:12px;
	    width:270px;
	    margin:0 auto
    }

    .workSlide#workI30Slide2 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workI30Slide2 p {
	    font-size:12px;
	    width:270px
    }

    .workSlide#workI30Slide3 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workI30Slide3 .launchProjectButton {
	    right:100px;
	    top:145px
    }

    .workSlide#workI30Slide3 img {
	    width:270px;
	    margin-bottom:20px
    }

    .workSlide#workI30Slide3 p {
	    width:270px
    }

    .workSlide#workI30Slide4 .slideContent {
	    width:300px;
	    margin-left:-150px
    }

    .workSlide#workI30Slide4 .launchProjectButton {
	    right:100px;
	    top:145px
    }

    .workSlide#workI30Slide4 img {
	    width:270px
    }

    .workSlide#workI30Slide4 p {
	    width:260px
    }

    .workSlide#workI30Slide5 .slideContent {
	    position:absolute;
	    width:300px;
	    margin-left:-150px;
	    margin-top:-100px
    }

    .workSlide#workI30Slide5 h3 {
	    font-size:24px;
	    line-height:24px
    }

    .workSlide#workI30Slide5 .slideBackButton {
	    left:58px;
	    top:70px
    }

    .workSlide#workI30Slide5 .sayHelloButton {
	    left:105px;
	    top:110px
    }


}
/*
@media all and (max-width:479px) and (-webkit-min-device-pixel-ratio:1.5) {
	#header .logo {
	background-image:url('../img/sib-logo-horizontal@2x.png');
	background-size:215px 35px
}


}
*/



/** bootstrap ueberschreiben */


body {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


img {
    max-width: none;
}

.container img {
    max-width: 100%;
}


.modal-backdrop {
    z-index: 3;
}

.modal {

}


/*
Die folgenden Höhenangaben für die sections müssen mit den Größen in der Datei script.js (sections) übereinstimmen.
*/

#rules-section {
	height:1200px;
}

#weare-section {
	height:1200px;
}


@media all and (max-width:1200px) {

    #rules-section {
	    height:1200px;
    }

    #weare-section {
    	height:1200px;
    }
}

@media all and (max-width:767px) {

    #rules-section {
	    height: 880px;
    }

    #weare-section {
    	height: 400px;
    }

}

@media all and (max-width:479px) {

    #rules-section {
	    height:1700px;
    }

    #weare-section {
    	height:1700px;
    }
}




/* Footer
*******************************************************************************/
#footer {
    background: #000000;
    height: 115px;
    width: 100%;
    padding-top: 40px;
    font-weight: 300;
    font-size: 16px;
}
#footer ul { margin: 0; }
#footer ul li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid 1px #fff;
    list-style-type: none;
}
#footer ul li.last {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}
#footer ul li a {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}
#footer .span7 { text-align: right; }
















/* Content - Welcome
*******************************************************************************/
#welcome-section h1 {
    color: white;
    font-size: 58px;
    line-height: 60px;
    margin-top: 340px;
    text-align: center;
}
#welcome-section #viewWorksButton {
    background-image: url("../img/icons/arrow-bottom.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: 700;
    height: 80px;
    line-height: 18px;
    margin: 30px auto 0;
    text-align: center;
    text-decoration: none;
    width: 86px;
}

/* Content - Work
*******************************************************************************/
#work-section { color: #000; }
#work-section .header {
    color: #000000;
    font-size: 70px;
    line-height: 1em;
    margin: 70px auto 0;
    text-align: center;
}
#work-section .subheader {
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    margin: 20px auto 30px;
    text-align: center;
    width: 800px;
    font-weight: 300;
}
#work-section .brands { margin-top: 50px; }
#work-section h3 { 
    margin-top: 0; 
    padding-top: 5px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}
#work-section .inner {
    background: #fff;
    padding: 5px 15px 15px 15px; 
}
#work-section .inner p { margin-bottom: 20px; }
#work-section .more {
    font-weight: 700;
    color: #000;
}


#work-section .span3 {
    opacity: 0;
}



/* Content - About
*******************************************************************************/
#about-section .header {
    color: #FFFFFF;
    font-size: 69px;
    line-height: 70px;
    margin-top: 150px;
    margin-bottom: 30px;
    text-align: left;
}
#about-section .content {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
}

/* Content - Approach
*******************************************************************************/
#approach-section .header {
    color: #FFFFFF;
    font-size: 70px;
    margin-bottom: 40px;
    margin-top: 215px;
    text-align: left;
    width: 500px;
}
#approach-section h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
#approach-section .content {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 60px;
    opacity: 1;
    width: 780px;
}
#approach-section .span3 {
    border-top: solid 1px #fff;
}


#approach-section .span3 {
    opacity: 0;
}

/* Content - Rules
*******************************************************************************/
#rules-section .header {
    color: #FFFFFF;
    font-size: 70px;
    margin-bottom: 40px;
    margin-top: 350px;
    text-align: left;
    width: 500px;
}

#rules-section .content {
    color: #FFFFFF;
    font-size: 23px;
    line-height: 24px;
    margin-bottom: 110px;
    opacity: 1;
    width: 780px;
    font-weight: 700;
}
#rules-section .span4 {
    border-top: solid 1px #fff;
    margin-bottom: 40px;
}
#rules-section h3 {
    font-size: 23px;
    line-height: 34px;
}


#rules-section .span4 {
    opacity: 0;
}


/* Content - We are
*******************************************************************************/
#myCarousel {
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    padding: 60px 0 53px 0;
}
.carousel-control {
    width: 55px;
    height: 55px;
    text-indent: -9999px;
    left: 0;
}
.carousel-control.right {
    background-image: url("../img/icons/arrow-right.png");
    background-repeat: no-repeat;
    right: 0;
}
.carousel-control.left {
    background-image: url("../img/icons/arrow-left.png");
    background-repeat: no-repeat;
}
.carousel-inner > .item { text-align: center; }
#weare-section h3 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#weare-section h3 span {
    font-weight: 300;
    margin-right: 15px;
    padding-right: 15px;
    border-right: solid 1px #fff;
}



@media only screen and (max-width : 1200px) {
	#work-section .header {
		margin-top: 20px;
	}
	#about-section .header { margin-top: 80px; }
	#myCarousel { margin-top: 200px; }

	#work-section h3 { font-size: 14px; }
	#work-section .inner p {
		font-size: 14px;
		line-height: 18px;
	}
	#rules-section h3 { font-size: 20px; }

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#header .menu ul li { margin-right: 25px; }
	#header .menu ul li a { font-size: 18px; }

	#header { height: 90px; }
	#header .container { position: relative; }
	#header .logo {
		margin-top: 30px;
		margin-bottom: 10px;
	}
	#header .mobileMenuButton {
	    display:block;
	    width:35px;
	    height:35px;
	    position:absolute;
	    right:0;
	    top:25px;
	    cursor:pointer;
	    padding-left:5px;
	    padding-top:5px
    }

    #header .mobileMenuButton .bar {
	    display:block;
	    width:30px;
	    margin-top:5px;
	    height:3px;
	    background-color:#fff
    }
	.mobileMenu ul {
	    display: block;
	    margin: 0 auto;
	    padding: 10px 0;
	    width: 724px;
	}
	.mobileMenu ul li {
	    list-style-type: none;
	}

	.mobileMenu ul li a {
	    color: #FFFFFF;
	    display: block;
	    font-size: 18px;
	    padding: 5px 0;
	    text-align: right;
	    text-decoration: none;
	}
    .mobileMenu {
	    background: url("../img/000000-0.8.png") repeat scroll 0 0 transparent;
	    display: none;
	    position: absolute;
	    top: 90px;
	    width: 100%;
	    z-index: 9999;
	}

    #header .menu {
	    display:none
    }

    #header #underlineContainer {
	    display:none
    }


    .navbar { margin-top: 37px; }
    .navbar .btn-navbar {
        background-color: #fff;
        background-image: none;
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        box-shadow: none;
        color: #FFFFFF;;
        padding: 7px 10px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        position: absolute;
        right: 30px;
        top: 34px;
    }


    #welcome-section h1 {
        font-size: 46px;
        line-height: 50px;
    }
    #work-section .header {
        font-size: 50px;
        margin-bottom: 20px;
    }
    #work-section h3 { font-size: 16px; }
    #work-section .inner { height: 250px; position: relative; }
    #work-section .inner p {
        font-size: 14px;
        line-height: 18px;
    }
    #work-section .more { font-size: 16px; line-height: 18px; position: absolute; bottom: 10px; }
    #about-section .header {
        font-size: 52px;
        line-height: 52px;
        margin-bottom: 16px;
    }
    #approach-section h3 { font-size: 28px; }
    #approach-section .header {
        color: #FFFFFF;
        font-size: 50px;
        margin-bottom: 25px;
        margin-top: 130px;
    }
    #approach-section .span3 p {
        font-size: 16px;
        line-height: 22px;
    }
    #rules-section .header { font-size: 50px; margin-bottom: 25px; }
    #rules-section .content { margin-bottom: 80px; }
    #rules-section h3 { font-size: 16px; }

    #work-section .subheader,
    #about-section .content,
    #approach-section .content,
    #approach-section .span3 p,
    #rules-section .content {
        font-size: 16px;
        line-height: 22px;
    }

    #work-section .subheader,
    #approach-section .content,
    #approach-section .header,
    #rules-section .header,
    #rules-section .content { width: 100%; }
    #footer { visibility: visible; }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	    #header .logo {
    	background-image:url('../img/logo-keylime-mobile.png');
    	background-repeat: no-repeat;
    	background-size: 170px 50px;
		margin-top: 0px;
    }
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#header .logo {
    	background-image:url('../img/logo-keylime-mobile.png');
    	background-repeat: no-repeat;
    	background-size: 170px 50px;
		margin-top: 0px;
    }
    
    .navbar .btn-navbar {
        position: absolute;
        right: 30px;
        top: 34px;
    }


    #welcome-section h1 { margin-top: 160px; }

    #rules-section .header,
    #approach-section .header,
    #about-section .header { margin-bottom: 20px; }

    #rules-section .content,
    #approach-section .content { margin-bottom: 40px; }

    #work-section .subheader,
    #approach-section .content,
    #approach-section .header,
    #rules-section .header,
    #rules-section .content { width: 100%; }

    #welcome-section h1,
    #work-section .header,
    #about-section .header,
    #approach-section .header,
    #rules-section .header {
        font-size: 36px;
        line-height: 42px;
    }

    #work-section .brands .span3 { 
        width: 270px;
        margin: 0 auto 10px auto;
    }

    #myCarousel { padding: 20px 0; }
    .carousel-control {
        background-size: 27px auto;
        height: 30px; width: 30px;
    }
    #weare-section h3 {
        font-size: 17px;
        margin-bottom: 10px;
    }
    #weare-section .carousel-inner p {
        font-size: 14px;
        line-height: 18px;
    }

}
/* Landscape phones and down */
@media (max-width: 480px) { 	
	body { padding: 0; }
	.container { width: 300px; }
	#welcome-section h1 { margin-top: 50px; }
	#work-section { height: 2050px; }
	#about-section { height: 850px; }
	#about-section .header { margin-top: 30px; }
	#approach-section { height: 1365px; }
	#approach-section .header { margin-top: 60px; }
	#rules-section { height: 770px; }
	#rules-section .header { margin-top: 50px; }
	#weare-section { height: 400px; }
	#myCarousel { margin-top: 100px; }
	.contactMapPopup.collapsed .topArea { width: 260px; }
	#footer { visibility: hidden; }
	#footer .span7 { margin-top: 10px; }
	#imprint #main { padding-top: 70px; }
}

